[2020-07-31 08:12] liliya-soroka commented on #411
1. 4 snackbars appears on the assets page
2. Snackbar appears on the switch safe/load safe only on calling the app from background with opened switch safe or load safe

app version 0.7.0 ( 109)
Video link - https://drive.google.com/file/d/1lk_MNulB3qWoM2nOC_kIazPnsmfRU9zJ/view?usp=sharing

[2020-07-31 08:14] DmitryBespalov commented on #411
@liliya-soroka the video link shows the desktop website

[2020-07-31 08:48] liliya-soroka commented on #399
Verified
app version 0.7.0 (109)

[2020-07-31 08:48] #399 closed, assigned to sche

[2020-07-31 14:43] liliya-soroka opened #432 "[iOS] Crash on calling the app from background"
**Bug description**
The app is crashed
**Steps To Reproduce**
1. see the video

Crashlytics errors:
All 3 errors relates to the same issue ( just happens on diff pages)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/bd228430-2fb7-4b57-a0f9-859a7ab8e3f3)

**Expected Result**
The app should not be crashed
**Video Link **
https://drive.google.com/file/d/126Nvygb6ZL_wzM0Cjv

[2020-08-03 15:19] DmitryBespalov opened #433 "NotificationService and triggering the register and unregister of notifications"
- [x] Device Id (UUID). Something that is **not** restored from a backup and not synced between different devices. We need different deviceId for different devices.
  - [ ] generate UUID and save it on the app launch
  - [ ] get saved UUID
- [x] Register request
  - [ ] detect type of the device
- [x] Unregister request
- [ ] Trigger registration on
  - push token updated
  - app started
  - safe

[2020-08-03 15:19] DmitryBespalov opened #434 "Displaying different notification types and opening the details in the app"
- [x] User should be asked to enable push notifications after successfully adding their first Safe
- [x] Create new 'remote notification' app extension that will process the push payload and display the localized notification message.
- [x] Parse the notification payload
- [ ] ~Implement checking safe name and checking that safe exists before displaying the notification~
  - Not feasible at the mo

[2020-08-03 15:43] DmitryBespalov opened #435 "Add user property for Firebase tracking on the app start to include push permission state"

[2020-08-03 15:49] DmitryBespalov opened #436 "Change the display of addresses in the app"

[2020-08-03 16:00] DmitryBespalov opened #437 "Change the view model to request the creation transaction, parse it, and insert it in the list (incl. pagination requests)"
- New request  to the transaction service
- Requesting creation transaction in  the  last page of the transactions request
- Create view model for the creation transaction

[2020-08-03 16:00] DmitryBespalov opened #438 "UI for the creation transaction cell in the transaction list"
similar to  the safe settings, just a different title

[2020-08-03 16:00] DmitryBespalov opened #439 "UI for the creation transaction details screen"
- Creator address, master copy, factory with address / (safe settings) and with unavailable state
- Creation date
- other fields

[2020-08-04 13:43] DmitryBespalov commented on #430
This is internal only release without releasing to public beta.

[2020-08-04 14:04] #430 closed, assigned to DmitryBespalov

[2020-08-04 14:10] DmitryBespalov commented on #433
AppStarted - only when data is changed

[2020-08-05 09:05] liliya-soroka commented on #370
During back-end planning, It was decided that only ENS tokens is important for now. Need to check it on the prod mainnet.

[2020-08-06 12:38] DmitryBespalov opened #441 "[iOS] Freshly cloned repository can't be built due to Crashlytics script error"
Crashlytics needs configuration file which doesn't exist.

To fix, we need to skip crashlytics build phase when in Debug configuration or when the Firebase configuration file does not exist

# How to test
Clone the repository in a fresh location, run the config script, then try to build the app (see README https://github.com/gnosis/safe-ios)

[2020-08-06 12:47] DmitryBespalov opened #443 "Integrate Firebase push notifications framework in the app"
# What to test
- Push notification alert is shown after 1st safe add
- For existing installations (after update):
  - If there are safes, push notification permission alert is shown on app start
  - If there are no safes, push notification permission will be shown after safe addition

**NOTE** No push notifications will be delivered, this is only for registering the app with the push notification

[2020-08-06 12:48] DmitryBespalov opened #444 "Implement event parsing and displaying"
This is a technical task so far, nothing to test yet.

[2020-08-06 12:48] DmitryBespalov opened #445 "Implement opening appropriate screen for push notificaiton"
- Open transaction details or transaction list.

# How to test
Nothing to test yet.

[2020-08-10 09:32] DmitryBespalov opened #449 "Technical prototype for using App Groups in order to access database from the notification serevice extension"
- Create app that is using Core Data similar to the main project
- Create notification service extension for that app
- Create app group
- Move the core data file to the app group on app start
- Check that it works

[2020-08-10 09:33] DmitryBespalov opened #450 "Technical prototype for adding migrations to the Core Data"
- Create an app that uses  Core Data
- Create migrations
  - Delete existing field
  - Modify existing field
  - Add new field
  - Add new object
  - Remove existing object
  - Rename the object
  - Create new object and transfer data to it from existing object
- Check that migrations work

[2020-08-10 09:39] DmitryBespalov opened #451 "Check the startup animation - elements of the screen fly in from the top left"
iOS 14 Developer Beta 4

[2020-08-10 13:56] DmitryBespalov commented on #449
Needs to be closed

[2020-08-10 13:56] DmitryBespalov commented on #450
Needs to be closed

[2020-08-10 13:58] DmitryBespalov commented on #433
Not  testable yet

[2020-08-11 07:58] DmitryBespalov opened #452 "Show the error code in the unexpected error message from backend"
When an unexpected error occurs, it is better to show error code if it exists, otherwise the message is too generic and hard to debug.

This will make fixing potential errors easier

# How to test?
Intercept  a  request  to the safe-transaction service and return the error  response with status  code  422 and the body

[code]

The  app  should show the snackbar  message `Unexpected  error  37.  We

[2020-08-11 08:13] DmitryBespalov opened #453 "Check out the client gateway"
See how to integrate it and what is the  impact of that change.

If there are mismatches, provide documentation or recommendations on how to change the response

# How to test
No visible testable  behavior, only integration tests implemented (in Xcode)

[2020-08-11 09:43] sche opened #455 "[iOS] Assertion failure for a safe on transactions list"
**Bug description**
The assertion fails for a specific safe

**Steps To Reproduce**
1. Add safe "0xf661107395729AFc8A027B976337B859A0847D8e"
2. Open transactions

**Expected Result**
Transactions are displayed

**Device & App version**
 - Device/OS: Simulator
 - App version: main branch
 - Mainnet

**Additional info**
(Optional)

[2020-08-11 13:07] DmitryBespalov commented on #455
I've created a backend issue: https://github.com/gnosis/safe-transaction-service/issues/133

@sche Note, that on TestFlight builds, the assertions are disabled, so this doesn't crash the app. Assertion fail only in the developement builds (unless we enable them for staging apps)

[2020-08-12 09:53] DmitryBespalov commented on #411
This will be fixed

This is expected, because on the Switch Safe or Load safe screen there is no content loading from the network, so the snackbar is not appearing. After opening from background, the underlying assets are reloading. Right now I would not change that (trying to stop the reloading) - so the message appears.

[2020-08-12 09:56] DmitryBespalov commented on #416
Can't reproduce. The screen refreshes right now. Also, this is very minor cosmetic issue that is most likely an OS behavior. I would make this issue won't fix.

[2020-08-13 08:14] sche opened #463 "[iOS] Memory leak: TransactionsViewModel retained"
**Bug description**
TransactionViewModel is retained and can not be released, which causes memory leaks.

**Steps To Reproduce**
1. Open Transactions
2. Open Assets
3. Profile memory in XCode
=> XCode displays a warning with a memory leak

**Expected Result**
Absence of retain cycles

**Screenshots**
![Screenshot 2020-08-13 at 09.55.38.png](https://images.zenhubusercontent.com/5c62952584111d4401fa

[2020-08-13 08:16] sche commented on #432
First investigation: the problem is caused by a nested LoadableView. It seems like it is connected with memory leaks somehow.
For now, I am trying to remove memory leaks for Transactions screens.

[2020-08-13 13:27] #463 closed, assigned to sche

[2020-08-14 08:20] sche commented on #432
I removed memory leaks, but it did not help. The error is reproducible.

We decided today that:
- Dima will take a look at it next week
- If it is not possible to resolve with issue fast, there are several possible ways to do:
-- Remove "Pull to refresh" functionality on the transaction details view
-- Keep it as a known issue and reduce its severity

I think it could also make sense to dedicate m

[2020-08-16 13:35] DmitryBespalov opened #466 "Check host where pagination links are directed"
In order to prevent potential security issue, check whether the "next" and "previous" pagination links in the server response are leading to the same base host (2nd-level, i.e. *.gnosisdev.com)

[2020-08-17 07:04] liliya-soroka commented on #412
Verified
iphone 7

[2020-08-17 07:04] #412 closed, assigned to DmitryBespalov

[2020-08-17 08:16] MouazAlzahabi commented on #386
@posthnikova
Because of technical limitations this can't be solved for now, is it ok to keep it ?

[2020-08-17 08:39] sche commented on #465
🥇

[2020-08-17 08:58] posthnikova commented on #386
@MouazAlzahabi For now ok. In the future I would like to fix it.

[2020-08-17 09:33] DmitryBespalov opened #467 "Prepare Release 2.0.0"
- [x] Marketing version is updated (2.0.0)
[code]
- [x] QA approved release candidate build
- [x] Product Owner approved submission
- [x] dSYMs are downloaded from AppStoreConnect and uploaded to Firebase Crashlytics.
- [x] Check screenshots and descriptions in the App Store Connect
- [x] Submit to Apple Review

[code]

- [x] After the submission to the App Store Review, the build is tagged
[code]

[2020-08-17 09:41] DmitryBespalov opened #468 "Support decoded data parameter types"
### How to  test the "array" type
Send "contract  interaction" transaction to any contract with this ABI:

[code]

Select thee  "safeBatchTransferFrom" function and there you will have the "ids" and "values" parameters that accept array of integers

[2020-08-17 09:47] DmitryBespalov opened #469 "Custom Tx with decoded function call (collapsible/expandable action)"

[2020-08-17 09:52] DmitryBespalov opened #470 "MultiSend Transaction Details List"

[2020-08-17 09:53] DmitryBespalov opened #471 "MultiSend Action Details"

[2020-08-17 09:55] liliya-soroka commented on #411
Verified
app version 0.8.0 (123)

[2020-08-17 09:55] #411 closed, assigned to DmitryBespalov

[2020-08-17 09:58] liliya-soroka commented on #436
Verified
app version 0.8.0 (123)

[2020-08-17 09:58] #436 closed, assigned to DmitryBespalov

[2020-08-17 09:58] DmitryBespalov opened #472 "MultiSend screen"
-

[2020-08-17 09:59] liliya-soroka commented on #416
Closed as can't reproduce because of changing behaviour on the back from the transaction details

app version 0.8.0 (123)

[2020-08-17 09:59] #416 closed, assigned to DmitryBespalov

[2020-08-17 10:07] DmitryBespalov opened #473 "Make Contract Version address copyable in the Safe settings"
Copy the address, not the version string

[2020-08-17 11:48] liliya-soroka opened #474 "[iOS] Transaction details page is not loaded for some tx types after calling the app from background"
**Bug description**
Loading icon and navigation bar without a title is displayed for the user instead of tx details after calling the app from background in case the app was sent to background with opened transaction details page. The issue exists for Creation transaction, incoming txs

**Steps To Reproduce**
1. Go to the transactions list
2. Open creation transaction or incoming transaction
3. se

[2020-08-17 11:56] #441 closed, assigned to DmitryBespalov

[2020-08-17 11:56] #444 closed, assigned to DmitryBespalov

[2020-08-17 11:56] #445 closed, assigned to DmitryBespalov

[2020-08-17 11:57] #449 closed, assigned to DmitryBespalov

[2020-08-17 11:59] #450 closed, assigned to DmitryBespalov

[2020-08-17 12:23] liliya-soroka opened #475 "[iOS] Creation tx: Copy tx hash to clipboard option is missed"
**Bug description**
It's not possible to copy tx hash to clipboard on the safe creation tx details page
**Steps To Reproduce**
1. Open creation tx details
2. Click on tx hash to copy it to clipboard as on the advanced page for other transaction types
**Expected Result**
Add copy to clipboard option for transaction hash
**Screenshots**

**Device & App version**
 - Device/OS: iphone X /13.15.1
 - Ap

[2020-08-17 13:39] liliya-soroka opened #476 "[iOS] Created date is missed for creation tx in the transactions list"
**Bug description**
there is no created date in the transactions list for creation transaction

**Steps To Reproduce**
1. Open transactions list
2. scroll down to the safe created tx

**Expected Result**
From design - https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d6565f8af1fdb44c8f0
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/21b1

[2020-08-17 13:44] liliya-soroka commented on #437
Verified
app version 0.8.0 (123)

[2020-08-17 13:44] #437 closed, assigned to MouazAlzahabi

[2020-08-17 13:45] liliya-soroka commented on #438
The new issue is created for the missed date information - https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/476

Verified
app version 0.8.0 (123)

[2020-08-17 13:45] #438 closed, assigned to MouazAlzahabi

[2020-08-17 14:12] liliya-soroka commented on #439
Verified
app version 0.8.0 (123)

[2020-08-17 14:12] #439 closed, assigned to MouazAlzahabi

[2020-08-17 14:36] liliya-soroka commented on #475
Verified
app version 0.8.0 (124)

[2020-08-17 14:36] #475 closed, assigned to MouazAlzahabi

[2020-08-17 14:48] liliya-soroka commented on #476
Verified
app version 0.8.0(125)

[2020-08-17 14:48] #476 closed, assigned to MouazAlzahabi

[2020-08-18 08:44] mmv08 opened #480 "[iOS] Cancelled state is displayed for a successful transaction"
**Bug description**
From [discord](https://discordapp.com/channels/477106835862716416/477391201708802058/744930787555672144):

**Expected Result**
Web and iOS app display the same state or at least not cancelled

**Device & App version**
 - App version: 0.7.0

[2020-08-18 14:42] tschubotz commented on #432
If a proper fix cannot be found, then let's temporarily disable pull to refresh on tx details

[2020-08-18 14:44] tschubotz commented on #467
Let's use 2.0.0 as version due to the dependency from Android

[2020-08-18 14:45] tschubotz opened #481 "Update urls fro client gateway and notification service"

[2020-08-18 14:55] liliya-soroka opened #482 "[iOS] New Activity is displayed instead of proper text in push notification ( safe liltestsafe)"
**Bug description**
New Activity is displayed as the text for any transaction activity in the safe liltestsafe.eth
**Steps To Reproduce**
1. Add safe
**Expected Result**
1. Outgoing or incoming transaction is created for the safe liltestsafe.eth
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/93924595-6cf3-4d54-8a1f-f86cd45d392d)
![image.png](https://imag

[2020-08-19 11:55] #453 closed, assigned to DmitryBespalov

[2020-08-19 14:04] DmitryBespalov commented on #432
@liliya-soroka  I disabled reloading of the details screen on app opening in order to avoid crashing. The crash is caused a bug in underlying SDK that we can't properly fix. The pull to refresh functionality is still there.

[2020-08-19 15:03] DmitryBespalov commented on #432
will be  testable in 2.0.0 version

[2020-08-19 15:03] DmitryBespalov commented on #481
Changed in the 2.0.0 version

[2020-08-20 12:39] DmitryBespalov commented on #472
Postponed for the future

[2020-08-20 12:39] DmitryBespalov commented on #471
Postponed for the future

[2020-08-20 12:41] DmitryBespalov commented on #470
can be closed

[2020-08-20 13:50] liliya-soroka commented on #452
Verified
app version 2.0.0 (5) yellow Rinkeby

[2020-08-20 13:50] #452 closed, assigned to DmitryBespalov

[2020-08-20 13:53] #471 closed, assigned to nobody

[2020-08-20 13:54] #470 closed, assigned to nobody

[2020-08-20 13:54] #472 closed, assigned to nobody

[2020-08-21 11:27] liliya-soroka opened #487 "[iOS] TX details: View on Etherscan link is missed for incoming tx"
**Bug description**
According to design incoming tx should contain View link on Etherscan
**Steps To Reproduce**
1. Open tx details for incoming tx
**Expected Result**
Add View on Etherscan link to the tx details for incoming tx
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/65bb1518-bb7e-423c-9147-0d0f38d7a9d3)
**Device & App version**
 - Device/OS: iph

[2020-08-21 14:16] liliya-soroka commented on #413
@sche , could you provide the app version where it was fixed
It's not changed in the version 2.0.0 (5)

[2020-08-24 07:53] liliya-soroka opened #488 "[iOS] A few "New activity" notifications are received instead of one for incoming ERC20 tx"
**Bug description**
There are 3 notification are received after transaction execution instead of one
**Steps To Reproduce**
1. Create transaction
2. Confirm it as one owner
3. Confirm and execute as the second owner
**Expected Result**
Do we expect to see the notification only about transaction executing?
**Screenshots**

**Device & App version**
 - Device/OS: pixel 4
 - App version: 2.0.0 (5)

**

[2020-08-24 08:45] sche opened #489 "Prototyping for system tab bar + iPad"

[2020-08-24 09:41] liliya-soroka opened #491 "[iOS] Tx details: The full module address should be shown for enable/disable module"
**Bug description**
The address is shown with ... in the middle instead of the full address, but according to the design the address should be displayed fully
**Steps To Reproduce**
1. Check tx with nonce 118 in the safe liltestsafe ( 0x1230B3d59858296A31053C1b8562Ecf89A2f888b )
**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5ee8de70aaeff547a0e2ac72

**Device & A

[2020-08-24 10:20] DmitryBespalov commented on #480
We're aware of it, this needs to wait after public release when we'll integrate the safe client gateway

[2020-08-24 13:02] DmitryBespalov commented on #492
will be merged as part of other pr

[2020-08-24 13:04] DmitryBespalov commented on #491
will be testable in 2.0.0 (6)

[2020-08-24 13:05] DmitryBespalov commented on #487
will be testable in 2.0.0 (6)

[2020-08-24 13:05] DmitryBespalov commented on #474
will be testable in 2.0.0 (6)

[2020-08-24 13:05] DmitryBespalov commented on #398
should be testable in 2.0.0 (6)

[2020-08-25 07:44] DmitryBespalov opened #497 "Push notification requests use UUID with lowercased letters"
The unregistration requests fail because UUID format is uppercase letters but needs to be lowercased.

This will fix the defect when the safe is removed but the notifications are still received.

[2020-08-25 09:16] DmitryBespalov opened #499 "Device doesn't receive the "transaction executed" push notification"
Device receives "transaction confirmed" but not "transaction executed" notification after updating to the staging environment.

[2020-08-25 09:35] liliya-soroka commented on #432
Verified
app version 2.0.0 (8)

[2020-08-25 09:35] #432 closed, assigned to DmitryBespalov

[2020-08-25 09:38] liliya-soroka commented on #474
Verified
app version 2.0.0 (8)

[2020-08-25 09:38] #474 closed, assigned to nobody

[2020-08-25 09:40] liliya-soroka commented on #491
Verified
app version 2.0.0 (8)

[2020-08-25 09:40] #491 closed, assigned to DmitryBespalov

[2020-08-25 09:43] liliya-soroka commented on #487
Reopened:
According to https://gnosisinc.slack.com/archives/C63LQTGNB/p1597827002083000 convesation in slack it was decided to hide advanced details from incoming tx

Confirmed that View tx on Etherscan link was added but Advanced details appear too

App version 2.0.0(8)

[2020-08-25 10:25] DmitryBespalov commented on #487
ok, fix is coming

[2020-08-25 10:50] liliya-soroka commented on #413
@DmitryBespalov , do you know if it was included into release 2.0.0 branch?

[2020-08-25 11:14] DmitryBespalov commented on #413
@liliya-soroka not yet, I'll do that

[2020-08-25 11:25] DmitryBespalov opened #503 "Confirmation push notifications coming together with the execution push notification (all at once)"
We need to disable "confirmation" pushes on the backend

# How to test

There is no "Transaction confirmed" notifications

[2020-08-25 12:29] DmitryBespalov commented on #413
@liliya-soroka will be in 2.0.0 (10)

[2020-08-25 13:56] DmitryBespalov commented on #469
This should be closed as the collapsible/expandable design was removed

[2020-08-25 15:06] MouazAlzahabi opened #504 "ClientGateway integration"
We need to complete integration of the ClientGateway, we already have the service layer part, now we need to reflect the changes to UI&ViewModel parts.

The following parts should be changed accordingly:

- [x] Transactions list view model
- [x] Transaction cell view
- [x] Transaction details view model
- [x] Transaction details view
- [x] Transaction advanced details
- [x] Transaction details hea

[2020-08-27 09:13] liliya-soroka commented on #413
Verified
 app version 2.0.0 (10)

[2020-08-27 09:13] #413 closed, assigned to sche

[2020-08-27 09:18] #487 closed, assigned to DmitryBespalov

[2020-08-27 09:18] liliya-soroka commented on #487
Verified
app version 2.0.0 (10)

[2020-08-27 09:18] liliya-soroka commented on #473
not included into the release candidate

[2020-08-27 11:17] liliya-soroka commented on #468
not included into the release candidate

[2020-08-27 11:18] liliya-soroka commented on #469
not included into the release candidate

[2020-08-27 12:44] liliya-soroka commented on #482
The issue is still actual for me on staging and prod Rinkeby for the safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/c7c81bf1-1aee-4b5a-a399-37ae2b555f2f)
app version 2.0.0 (10)

Steps:
1.Add only one safe that willbe used as receiver of incoming tx
2. Leave app in background or close it completely
3. Lock the device
4. Sen

[2020-08-27 12:45] liliya-soroka commented on #488
The issue is still actual in Prod Rinkeby version for the safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/3c1a8e3b-146f-46f3-b82d-0a4953798e4c)
app version 2.0.0 (10)

Steps:
1.Add only one safe that willbe used as receiver of incoming tx
2. Leave app in background or close it completely
3. Lock the device
4. Send incoming

[2020-08-27 13:22] liliya-soroka opened #506 "[iOS] The app is crashed if the notification is clicked to open the app ( the app was closed completely)"
**Bug description**
The app is crashed if incoming trx notification is clicked for app opening
**Steps To Reproduce**
1.Add only one safe that will be used as the receiver of incoming tx
2. close it completely ( remove from the recently used list)
3. Lock the device
4. Send incoming tx to the safe
5. Wait for a few sec after the first notification is received
6. Check device lock screen
7. Unlock

[2020-08-27 13:28] DmitryBespalov commented on #451
close for now, will be visible when iOS 14 will be adapted

[2020-08-27 13:28] #451 closed, assigned to nobody

[2020-08-27 13:34] DmitryBespalov commented on #395
Spend 1 day trying to do lazy load the collectibles / assets in the TopTabBar

[2020-08-27 13:46] liliya-soroka commented on #443
Verified
app version 2.0.0 (10)

[2020-08-27 13:46] #443 closed, assigned to DmitryBespalov

[2020-08-27 13:52] DmitryBespalov opened #507 "Import seed phrase screen (functionality)"
- Do not persist the seed, just use it to validate it is correct
- Use the seed to generate accounts in the next "account list" screen

UPDATE:
This issue is about a visual part for two screens: "import" and "select"
Store selected addresses private key in the keychain
Update selected address in the CoreData

[2020-08-27 13:54] #481 closed, assigned to DmitryBespalov

[2020-08-27 13:55] DmitryBespalov opened #508 "List of accounts from seed"
~~- Only store the secret key of the selected account~~
~~- Store it in keychain~~
~~- Store the account's address in the Core Data (App Settings) - make a migration before!~~

UPDATE 07.09:
This issue is about a technical possibility to generate a list of accounts
Store in the keychain and in the CoreData moved to a separate issue

[2020-08-27 13:56] DmitryBespalov opened #509 "Lightweight database migration"
Add the "connected account" key (or different name for it) to the App Settings

# How to test
Please upgrade from the previous app version (prev. app version need to have some data in the app, like some safe loaded).
The app should not crash.

[2020-08-27 13:57] DmitryBespalov opened #510 "Transaction signing (functionality)"
- Safe transaction hash implementation - port from the legacy app
- Signing using the secret key - from the keychain

[2020-08-27 14:01] DmitryBespalov opened #511 "Submit signed transaction and reload transaction details"

[2020-08-27 14:02] DmitryBespalov opened #512 "Remove the imported account"
- Confirmation UI
- Remove from keychain storage
- Remove from the Core Data storage

[2020-08-27 14:02] DmitryBespalov opened #513 "Signing feature: tracking of the screens"

[2020-08-27 14:03] DmitryBespalov opened #514 "Adjust the designs for signing"

[2020-08-27 14:03] DmitryBespalov opened #515 "Sync safe owners to be able to sign"
- Do not persist owner list
- Get the list of owners from the gateway response ("signers") in transaction list and transaction details inside the `execution info` struct.

[2020-08-27 14:09] DmitryBespalov opened #516 "Tracking for data decoded action details screen"
Need a tracking screen identifier

[2020-08-27 14:27] liliya-soroka commented on #503
blocked for testing as no executed tx notifications
app version 2.0.0(10)

[2020-08-27 15:03] DmitryBespalov commented on #508
https://iancoleman.io/bip39/ for help

[2020-08-27 15:21] liliya-soroka opened #517 "[iOS] Badge on app icon displays incorrect number of received notifications"
**Bug description**
Badge on app icon displays incorrect number of received notifications. 1 instead of 3
**Steps To Reproduce**
1. Send a few incoming tx and executed a few outgoing tx for the safe
2. Wait till all notifications are received
3. Check badge on app icon
**Expected Result**
The correct amount of received notifications should be displayed
**Screenshots**
![image.png](https://images.z

[2020-08-28 09:28] liliya-soroka commented on #517
From the slack conversation, to show the budge with 1 is expected behaviour, so the issue can be closed as won't fix
@tschubotz , @DmitryBespalov

[2020-08-28 09:28] #517 closed, assigned to nobody

[2020-08-28 11:11] liliya-soroka commented on #497
Verified
app version 2.0.0 (10)

[2020-08-28 11:11] #497 closed, assigned to DmitryBespalov

[2020-08-28 11:11] #503 closed, assigned to DmitryBespalov

[2020-08-28 11:11] liliya-soroka commented on #503
Verified
app version 2.0.0(10)

[2020-08-28 12:12] tschubotz commented on #480
assigning minor since this has to wait until after the public release as to Dima's comment.

[2020-08-28 13:43] DmitryBespalov opened #520 "Transaction details "data" section should be tappable, not only the text"

[2020-08-28 13:43] MouazAlzahabi opened #521 "Japanese keyboard strange behavior"
When write safe name in Japanese the keyboard act strangely,

When you enter some text then dismiss the keyboard, then go back to the textfield the text removed,
When you type something then use the autocomplete the textfield become empty.

[2020-08-28 13:45] MouazAlzahabi opened #522 "Tx details enable data copy"
In tx details screen we need to be able to copy data when it's available.

[2020-08-28 13:45] DmitryBespalov opened #523 "Transaction list: when new page is loading, it jumps and it is impossible to instantly navigate to transaction details"

[2020-08-28 13:46] DmitryBespalov opened #524 "Transaction list: when interenet connection drops and then appears, the app is not triggerring page reload and there's no "retry" button"

[2020-08-28 13:49] MouazAlzahabi opened #525 "Tx details: data part is being ellipsized"
Data text is being ellipsized from the end sometimes

Safe address: 0xd6f5Bef6bb4acD235CF85c0ce196316d10785d67

Tx hash: 0x92f4e3c583b0fb0499fb089583d0d87cf1d16c7348234f14d95e0c104580a093

[2020-08-28 17:47] liliya-soroka commented on #480
We had an issue for it , but I can not find. Probably it was moved to the back-end board
Found - client-gateway issue https://github.com/gnosis/safe-client-gateway/issues/37

[2020-08-31 08:01] #489 closed, assigned to sche

[2020-08-31 08:04] sche opened #526 "Integrate System TabBar"
As agreed with Tobi and Sasha:
- system tab bar will always be displayed
- after adding/removing a safe, the selected tab bar will stay the same

[2020-08-31 08:29] sche commented on #499
@liliya-soroka could you check it on 2.0.0 (12)?

[2020-08-31 08:29] sche commented on #488
@liliya-soroka could you check it on 2.0.0 (12)?

[2020-08-31 10:12] liliya-soroka commented on #499
Verified
app version 2.0.0 (12)

[2020-08-31 10:12] #499 closed, assigned to nobody

[2020-08-31 10:17] liliya-soroka commented on #506
Verified
app version 2.0.0(12)
But there is another small issue with transaction details loading - separate issue

[2020-08-31 10:17] #506 closed, assigned to nobody

[2020-08-31 10:27] liliya-soroka opened #527 "[iOS] Transaction list and transaction details opening on cold start from the push notification"
**Bug description**
After the push notification is clicked when the app is fully closed ( cold start) the loading of the next pages is started one by one:
1. The user sees the loading icon on the balance page
2. transactions list page loading is started without finishing balance loading
3. Transaction details page loading is started with the empty navigation bar
So the user sees switching between

[2020-08-31 10:47] liliya-soroka commented on #482
Verified
app version 2.0.0(12)

[2020-08-31 10:47] #482 closed, assigned to nobody

[2020-08-31 10:47] liliya-soroka commented on #488
Verified
app version 2.0.0(12)

[2020-08-31 10:47] #488 closed, assigned to nobody

[2020-08-31 10:49] liliya-soroka commented on #434
Verified
app version 2.0.0(12)

[2020-08-31 10:49] #434 closed, assigned to DmitryBespalov

[2020-08-31 14:09] liliya-soroka commented on #433
Verified
app version 2.0.0 (12)

[2020-08-31 14:09] #433 closed, assigned to MouazAlzahabi

[2020-08-31 14:09] liliya-soroka commented on #370
Verified on prod for ENS ERC721 using safe 0xFB1d445c27A860bb6330453Bf08254198F3E0E31
The issue is closed

[2020-08-31 14:09] #370 closed, assigned to nobody

[2020-09-01 14:11] tschubotz commented on #516
I added tracking info to the epic today #329

[2020-09-01 16:07] sche commented on #1446
@RockmanR did you change your phone recently? Or did you recover it from iCloud?
If you did, then your phone key is different now. It means you would need to remove this safe from your phone and to recover it with a recovery phrase. During the recovery process, you could pair your browser extension.
But you should be aware that we stopped our development of browser extension (as well as the legacy

[2020-09-01 16:54] RockmanR commented on #1446
Thanks for the clarification, yes that might be the case. In this case, it would be better to just wait for the new mobile (iOS) app.

[2020-09-02 08:12] sche commented on #1446
@RockmanR it should be available this week. But it will be read-only in the beginning. So if you want to interact with your safe, we recommend you to load it to the web-interface. Here is the article how you can do it https://help.gnosis-safe.io/en/articles/4100585-how-to-use-your-legacy-mobile-gnosis-safe-with-the-safe-multisig-web-interface

[2020-09-02 12:37] sche opened #529 "Replace Web3 with web3swift libs"
We need the support of
- mnemonic phrases & HDWallets
- transactions signing
- interaction with Infura (web3 provider)

CONSIDERED OPTIONS

https://github.com/Boilertalk/Web3.swift
does not support mnemonic phrases

https://github.com/essentiaone/HDWallet
does not support Infura

https://github.com/matter-labs/web3swift/tree/master/Documentation
supports all we need

[2020-09-07 11:57] liliya-soroka commented on #473
Verified
app version 2.0.0 (134)

[2020-09-07 11:57] #473 closed, assigned to MouazAlzahabi

[2020-09-07 11:58] #469 closed, assigned to nobody

[2020-09-07 11:58] liliya-soroka commented on #469
closed as won't implement

[2020-09-07 11:59] liliya-soroka commented on #435
Verified
app version 2.0.0 (12)

[2020-09-07 11:59] #435 closed, assigned to DmitryBespalov

[2020-09-07 13:38] liliya-soroka opened #532 "[iOS] Decoding v1: bytes value is cut in multisend custom transactions"
**Bug description**
bytes value is cut in multisend custom transactions. Instead of showing the bytes value fully ... is displayed at the end

Safe :  0x1230B3d59858296A31053C1b8562Ecf89A2f888b
tx nonce :  179

**Steps To Reproduce**
1. Open tx details  for tx with nonce 179
2. Open actions

**Expected Result**
The value should be displayed fully

**Screenshots**
![image.png](https://images.zenhub

[2020-09-07 13:38] liliya-soroka commented on #468
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/532
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/533

[2020-09-07 13:54] liliya-soroka opened #533 "[iOS] Decoding: parameters without a name are not handled properly"
**Bug description**
Incorrect parameters are displayed when they don't have names.
Safe: 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
tx nonce: 201
Address parameter is displayed twice instead of address and bytes
**Steps To Reproduce**
1. Open tx details for tx with nonce 201
2. Open actions

**Expected Result**
https://gnosisinc.slack.com/archives/C63LQTGNB/p1599482940206600

**Device & App versio

[2020-09-07 14:00] #467 closed, assigned to sche

[2020-09-08 08:53] liliya-soroka commented on #526
Verified on iphone X. - app version 2.0.0 (134)
The task required compatibility testing

[2020-09-08 09:50] liliya-soroka opened #535 "[iOS] Uniform tx list (v2): Display amount in two lines if it's too long ( < +0.00001 USDc as an example)"
**Bug description**
Tx list: Display amount in two lines if it's too long ( < +0.00001 USDc as an example)
**Steps To Reproduce**
1. Safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. Scroll down to see incoming tx with amount < +0.00001 E...
**Expected Result**
According to Slack discussion the amount should be displayed in two lines. https://gnosisinc.slack.com/archives/C63LQTGNB/p15994820032037

[2020-09-08 15:35] liliya-soroka commented on #468
Verified ( separate issues created)
app version 2.0.0 ( 134)

[2020-09-08 15:35] #468 closed, assigned to MouazAlzahabi

[2020-09-09 08:36] liliya-soroka opened #536 "[iOS]Cripto Kitty tokens don't have image when it's returned by back-end"
**Bug description**
In the back-end response there is an imageurl for the some of CK tokens but it doesn't use on UI in Collectibles
Safe : 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
Response example:
Endpoint - /safes/{address}/collectibles/
 "address": "0x16baF0dE678E52367adC69fD067E5eDd1D33e3bF",
    "tokenName": "CryptoKitties",
    "tokenSymbol": "CK",
    "id": "1264",
    "uri": "https://ap

[2020-09-10 07:56] sche opened #539 "Upgrade Firebase Crashlytics SDK"
There is a warning in firebase. We need to upgrade SDK.

[2020-09-10 08:48] sche commented on #507
Known issues: it takes several seconds to check a valid seed phrase #540

[2020-09-10 08:50] sche opened #540 "[iOS] It takes several seconds to check a valid seed phrase"
Seems like an issue in the library I decided to use.
I will need to double-check it, and probably to fix, or to use other implementation.

[2020-09-11 06:50] sche opened #543 "Release 2.1.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.1.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-09-11 08:33] sche commented on #508
@liliya-soroka test it please on 2.0.0 latest builds

[2020-09-11 12:03] liliya-soroka opened #545 "[iOS] Tx details for NFT is not implemented according to design"
**Bug description**
Current implementation : ![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/589bdd98-2e59-45f3-8146-d840dd3006e2)

**Expected Result**
https://app.zeplin.io/project/5e9efc30726e106958cc43de/screen/5ee8ddc8e175644aa196ad65
**Screenshots**

**Device & App version**
 - Device/OS: iphone X/ 13.5.1
 - App version: 2.0.0( 10)

**Additional info**
(Optional)

[2020-09-11 12:07] liliya-soroka opened #546 "[iOS] Collectible details: Don't display any icon if the image is not available"
**Bug description**
There is default collectible image on collectible details if there is no available imageurl for the erc721 token
**Steps To Reproduce**
1. Load safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. Open collectibles page
3. open undefine collectible

**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5eb9290e2a43fc76e918d7af
**Screenshots**

**Device

[2020-09-11 12:22] liliya-soroka commented on #536
The issue is closed , as the svg images are not supported by client for now ( both ios and android)
ios app version 2.0.0 ( 10)
android version 2.0.0 ( 14)

[2020-09-11 12:22] #536 closed, assigned to nobody

[2020-09-11 12:47] liliya-soroka opened #547 "[iOS] Collectibles list: Unexpected error with code is displayed if the list loading takes too long time"
**Bug description**
[iOS] Collectibles list: Unexpected error with code is displayed if the list loading takes too long time
**Steps To Reproduce**
1. I was able to reproduce the issue using the safe( staging, rinkeby):
0x9913B9180C20C6b0F21B6480c84422F6ebc4B808
2. Open collectibles the first time
**Expected Result**
Slack discussion - https://gnosisinc.slack.com/archives/C63LQTGNB/p15997529773364

[2020-09-11 15:01] liliya-soroka opened #548 "[iOS] Snack bar with error message is displayed on main page instead of sub-page"
**Bug description**
When the sub-page is opened: tx details, all advanced pages, if the snack-bar with message is requested ( error message, copy to clipboard) the snack-bar is not displayed on sub-page. Insteadof it the snack-bar with sub=page message is displayed on the main page
**Steps To Reproduce**
1. Go to the Transaction details
2. Copy any address to clipboard or turn internet connection

[2020-09-11 16:13] liliya-soroka opened #549 "[iOS] Navigation bar disappears on advanced tx details if tx was opened using notification"
**Bug description**
The tx details content is displaced when the tx details is opened from the notification. Also when advanced details is opened there is no navigation bar , so it's not possible to go back to the tx details page
**Steps To Reproduce**
1. Execute outgoing tx for the safe loaded in the mobile app
2. Click push notification to open tx details
3. try to scrolled down to the the heade

[2020-09-11 16:19] liliya-soroka opened #550 "[iOS] TabBar is not grey out when Receiver pop-up is opened"
**Bug description**
TabBar is not grey out when Receiver pop-up is opened
**Steps To Reproduce**
1. Run app
2. click on the active safe address in navigation bar to open Receiver pop-up
**Expected Result**
The tabbar should be greyout as only Receiver popup is active
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/7f53048a-f84a-4af1-8301-0eca2263dadc)
**D

[2020-09-11 16:36] liliya-soroka opened #551 "[iOS] Crash: TransactionDetailsView.swift line 19 ( step searching in progress)"
**Bug description**
The app was creashed on navigation back from tx details ( searching for steps)
**Steps To Reproduce**

**Expected Result**

**Screenshots**

**Device & App version**
 - Device/OS: iphone X / 13.5.1
 - App version: 2.1.0 ( 2)

**Additional info**
(Optional)

[2020-09-14 08:42] tschubotz commented on #549
marking this as major since pushes are one of the few features that set the mobile app apart from web. So it's important that it works.

[2020-09-14 09:31] liliya-soroka commented on #398
Verified
app version 2.1.0 (2)

[2020-09-14 09:31] #398 closed, assigned to DmitryBespalov

[2020-09-14 10:06] tschubotz commented on #545
Let's remove "NFT action" from requierments https://gnosisinc.slack.com/archives/C63LQTGNB/p1600077831459800?thread_ts=1600072639.442800&cid=C63LQTGNB

[2020-09-14 11:33] tschubotz commented on #527
If this happens on every cold start with new pushes, I'd say this is major.

[2020-09-15 13:03] DmitryBespalov opened #553 "Re-enable / fix the opening of transaction details from push notification"
Issues:
- Transaction details screen crashes on start
- Transaction details screen is not showing navigation bar
- Transaction details screen is loaded too slow after opening the app

[2020-09-15 14:08] tschubotz commented on #513
Needs tracking info @tschubotz

[2020-09-15 14:16] sche commented on #553
https://nalexn.github.io/swiftui-deep-linking/

[2020-09-16 08:00] liliya-soroka commented on #551
The crash is fixed by disabling tx details opening.
I would like to leave the issue in Ready for QA till the main issue is fixed in next release (https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/553)

[2020-09-16 08:01] liliya-soroka commented on #549
The issue is fixed by disabling tx details opening.
I would like to leave the issue in Ready for QA till the main issue is fixed in next release (https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/553)

[2020-09-16 09:28] tschubotz commented on #525
might be related to #532

[2020-09-16 09:30] tschubotz commented on #521
Who uses a Japanese keyboard? 🙈

Just assigned `minor` since whatever the issue is, it might happen to other non English keyboards too.
Still, let's timebox this since we currently only optimize our app for English.

[2020-09-16 10:56] liliya-soroka opened #555 "[iOS] Balance list is not sorted correctly"
Describe the bug
It's not clear how the balance list is sorted

To Reproduce
Steps to reproduce the behavior:
1. Go to 0x84443F61efc60D10DA9F9a2398980CD5748394BB
2. Open coins page

Expected behavior
From requirments : User can see the balance of all ERC20 tokens with balance > 0, tokens are ordered by their names, ascending

Smartphone (please complete the following information):

Device: iPhone

[2020-09-16 11:55] liliya-soroka opened #556 "[iOS] Collactibles: Ethereum Name Service group doesn't have name in prod mainnet"
**Bug description**
Collactibles: Ethereum Name Service group doesn't have name in prod mainnet , at the same time the same group has the correct name on android
**Steps To Reproduce**
1. Go to 0x84443F61efc60D10DA9F9a2398980CD5748394BB
2. Open Collectibles page
**Expected Result**
Show the correct group name on prod mainnet
**Screenshots**

**Device & App version**
 - Device/OS: iphoneX/ 13.5.1

[2020-09-17 12:07] tschubotz commented on #555
Just assigned minor.
But I'm not sure if we have a sorting here at all? Is it just the sorting from the backend?

[2020-09-21 08:14] sche commented on #558
I will re-work this PR.

[2020-09-21 13:30] MouazAlzahabi commented on #455
@liliya-soroka this was fixed from backend side, please verify before we close it

[2020-09-22 08:22] MouazAlzahabi opened #564 "[iOS] Creation transaction not displayed correctly"
**Bug description**

When try to display creation transaction the app displaying "Entity not found".

**Steps To Reproduce**

Click on creation transaction from transactions list.

**Expected Result**

Display the details of creation transaction.

[2020-09-23 08:12] liliya-soroka commented on #455
Verified
app version 2.1.0 (3)

[2020-09-23 08:12] #455 closed, assigned to nobody

[2020-09-23 08:31] MouazAlzahabi commented on #564
@liliya-soroka This ticket is part of #504

[2020-09-23 08:35] DmitryBespalov opened #566 "[iOS] Enter ENS Name does not resolve names to addresses"
**Bug description**
In the latest app (release version), when adding  a safe using ENS name `alice.eth`, I get error "No resolver set for the record"

**Steps To Reproduce**
- Add safe
- Enter address using ENS name "alice.eth"

**Expected Result**
Safe with address  `0xcd2E72aEBe2A203b84f46DEEC948E6465dB51c75` is added

**Device & App version**
 - Device/OS: iPhone 6s, iOS 14
 - App version: 2.1.

[2020-09-28 07:35] liliya-soroka commented on #533
Verified
 app version 2.2.0 (151)

[2020-09-28 07:35] #533 closed, assigned to MouazAlzahabi

[2020-09-28 07:38] liliya-soroka commented on #522
Verified
app version 2.2.0 (151)

[2020-09-28 07:38] #522 closed, assigned to MouazAlzahabi

[2020-09-28 08:48] DmitryBespalov opened #570 "Disable signing for the 2.2.0 release"
Disable the signing so it is not visible to the user

[2020-09-28 08:55] #543 closed, assigned to sche

[2020-09-28 09:57] liliya-soroka opened #572 "[IOS] Squared logo of the token is not displayed as a circle"
@liliya-soroka commented on [Wed Sep 16 2020](https://github.com/gnosis/safe-android/issues/934)

**Describe the bug**
squared logo of the token is not displayed as a circle

To Reproduce
Steps to reproduce the behavior:
1. Go to 0x84443F61efc60D10DA9F9a2398980CD5748394BB
2. Open coins page
3. look at the logo for 0.00000372 BLZ  and 0.347963 LOOM
Current result:The logos are displayed as a square

[2020-09-28 09:58] liliya-soroka commented on #572
The issue was moved to ios repo

[2020-09-28 12:00] liliya-soroka opened #573 "[iOS] Txs list: Change masterCopy tx has incorrect view in the list"
**Bug description**
The change mastercopy tx has the same view as add owner instead of own view with address
**Steps To Reproduce**
1. Add safe 0x938bae50a210b80EA233112800Cd5Bc2e7644300
2. Open txs list

**Expected Result**
The change mastercopy tx has own view - https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d6565f8af1fdb44c8f0
**Screenshots**
![image.png](https://images.zenh

[2020-09-28 12:11] liliya-soroka opened #574 "[iOS] Tx Details: header for change mastercopy tx is missed"
**Bug description**
There is no header in the change mastercopy tx
**Steps To Reproduce**
1. load safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. tx with nonce = 252
**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d7ab8e8f32067a77a8b
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/fd3d9388-399b-4b69-97bb-a84880209

[2020-09-28 12:17] liliya-soroka opened #575 "[iOS] Tx details: The executor is missed in confirmation block"
**Bug description**
There is no executor information in the confirmation block on the tx details page
**Steps To Reproduce**
1. load safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. Open tx with nonce = 251, 250...
**Expected Result**
The executor information should be shown. Take into account that executor can be different from the last owner who confirmed the tx
**Screenshots**
![image.png](ht

[2020-09-28 13:04] liliya-soroka opened #576 "[IOS] Add client gateway end point to the advanced app settings"
Add client gateway endpoint to the advanced app settings info

[2020-09-28 13:11] DmitryBespalov opened #577 "Release 2.2.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.2.0)
[code]
- [x] Notify QA
- [ ] QA approved release candidate build
- [ ] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [ ] Submit to the App Store Review with developer approval for distribution
- [ ] Notify the te

[2020-09-28 13:17] liliya-soroka opened #578 "[iOS] Advanced is displayed for incoming tx"
**Bug description**
Advanced is displayed for the incoming tx
**Steps To Reproduce**
1. Load safe 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. open incoming tx
**Expected Result**
Don't display advanced data , but leave view on etherscan for incoming tx https://gnosisinc.slack.com/archives/C63LQTGNB/p1597827002083000
**Screenshots**

**Device & App version**
 - Device/OS: iPhone X / 13.5 1
 - App

[2020-09-28 14:38] liliya-soroka opened #579 "[iOS] Crash: compiler-generated> line 2147483647 TransactionDetailsViewModel.__deallocating_deinit"
**Bug description**
The app is crashed when the transactions list is scrolled down
https://console.firebase.google.com/u/2/project/safe-firebase-staging/crashlytics/app/ios:io.gnosis.multisig.staging.rinkeby/issues/2ccd21ee032813a7b39d20ef63988c53?time=last-seven-days&sessionEventKey=8f835305c9a3494fa2dd671f29eb9683_1455982025674746799
**Steps To Reproduce**
1. safe 0x1230B3d59858296A31053C1b8562E

[2020-09-28 14:41] liliya-soroka opened #580 "[iOS] Crash: <compiler-generated> line 2147483647 closure #1 in closure #3 in closure #1 in AdvancedAppSettings.body.getter"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-staging/crashlytics/app/ios:io.gnosis.multisig.staging.rinkeby/issues/6ae984a683958506708ab49fff930f58?time=last-seven-days&sessionEventKey=6d553fcbfdcd4267a3e5ad471d8448a3_1455964447086971890
**Steps To Reproduce**
in progress
**Expected Result**
no crash
**Screenshots**

**Device & App version**
 - Device/OS: iPhon

[2020-09-28 14:43] liliya-soroka opened #581 "[iOS]Crash: Combine outlined destroy of Publishers.ReceiveOn<A, B>"
**Bug description**
Combine
outlined destroy of Publishers.ReceiveOn<A, B>
**Steps To Reproduce**
1. safe = 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544
2. played with transaction details/ actions....
3. in progress
**Expected Result**
no crash
**Screenshots**

**Device & App version**
 - Device/OS: iPhone X / 13.5.1
 - App version: 2.2.0 - 151

**Environment**
prod , mainnet
**Additional info**
(Op

[2020-09-28 14:47] liliya-soroka opened #582 "[iOS] Crash: Combine Publishers.ReceiveOn.Inner.deinit"
**Bug description**
Combine
Publishers.ReceiveOn.Inner.deinit
**Steps To Reproduce**
1. safe 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544
.... in progress
**Expected Result**
no crash
**Screenshots**

**Device & App version**
 - Device/OS: iPhone X / 13.5.1
 - App version: 2.2.0 - 151

**Environment**
prod, mainnet
**Additional info**
(Optional)

[2020-09-29 08:02] liliya-soroka opened #583 "[iOS] Txs list and transaction details are not updated with latest data without pull to refresh"
**Bug description**
The transactions list is not updated automatically with the latest data after the user comes back from the transaction details page.
The tx state and newly created tx don't appear in transaction list after coming back from tx details.
The same for the transaction details, if the not updated transaction list is opened and the user opens tx, the transaction details contains old s

[2020-09-29 08:08] liliya-soroka opened #584 "[iOS] Custom tx has + instead of - in tx list and on tx details page"
**Bug description**
The + amount is displayed in custom tx instead of - in txs list and tx details
**Steps To Reproduce**
1. Safe = 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544 ( prod mainnet)
2. Check tx with nonce = 553 and 552 in transactions list and on the transaction details page
**Expected Result**
the amount should contain "- "as  the custom tx transfers funds out. It should be taken into ac

[2020-09-29 10:03] liliya-soroka opened #585 "[IOS]The header is greyed for cancelled tx on tx details"
**Bug description**
The header is grey if the tx is cancelled on the tx details + the amount is present in green instead of black
**Steps To Reproduce**
1. safe = 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
2. tx =254
3. Open tx details
**Expected Result**
The view of header for cancelled tx - https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d6f9a034e22355e8050
**Screenshots**
![i

[2020-09-29 10:11] liliya-soroka commented on #564
Verified
app version 2.2.0 - 152

[2020-09-29 10:11] #564 closed, assigned to MouazAlzahabi

[2020-09-29 10:13] liliya-soroka commented on #504
Report for tx list and tx details regression after moving to client-gateway [https://app.zenhub.com/files/255579920/054dc2ff-1081-4f97-8459-3a2e42e2e8bb/download](https://app.zenhub.com/files/255579920/054dc2ff-1081-4f97-8459-3a2e42e2e8bb/download)

app version 2.2.0 - 152

[2020-09-29 10:50] liliya-soroka commented on #570
Verified
app version 2.2.0 -152

[2020-09-29 10:50] #570 closed, assigned to nobody

[2020-09-29 11:28] DmitryBespalov opened #586 "[iOS] Remove owner key"
- add button and adjust style
- add confirm dialog
- delete swipe to delete

[2020-09-29 11:30] DmitryBespalov opened #587 "[iOS] Import owner key"
- strip spaces, validation
- add scrolling on small screens
- focus when opening the screen
- Enter button on keyboard

[2020-09-29 11:33] DmitryBespalov opened #588 "[iOS] Select account screen"
- header scrollable
- limit the keys to 100
- Change indices
- Close the screen
- Show snackbar on success

[2020-09-29 11:37] DmitryBespalov opened #589 "[iOS] Awaiting your confirmation in transaction list"
Backend is ready.

[2020-09-29 11:39] DmitryBespalov opened #590 "[iOS] Confirming transaction in tx details (UI)"
- confirm button
- dialog
- refresh screen

[2020-09-29 11:39] DmitryBespalov opened #591 "[iOS] Technical task: SafeTxHash validation"

[2020-09-29 11:40] DmitryBespalov opened #592 "[iOS] 'Confirm transaction' refactoring"
- signing of the tx
- submission to the service

[2020-09-29 11:40] DmitryBespalov opened #593 "[iOS] Update pod library for signing transaction"
We need the support of
- mnemonic phrases & HDWallets
- transactions signing
- interaction with Infura (web3 provider)

CONSIDERED OPTIONS

https://github.com/Boilertalk/Web3.swift
does not support mnemonic phrases

https://github.com/essentiaone/HDWallet
does not support Infura

https://github.com/matter-labs/web3swift/tree/master/Documentation
supports all we need

[2020-09-29 11:40] DmitryBespalov opened #594 "[iOS] Pin SSL certificates of the transaction service and client gateway service"
Library that is compatible with the OkHTTP SSL pinning that Android is using:
https://github.com/datatheorem/TrustKit

# How to test

Try to use mitm proxy - it should not work.

This is implemented in 2.3.0 build

[2020-09-29 12:28] liliya-soroka opened #595 "[iOS] Crash: LoadableView.swift line 83 closure #1 in closure #1 in LoadableView.loadingView.getter ( prod crash from users)"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/ef7716bf147dad51523a174a5986276f?time=1601251200000:1601337599000&sessionEventKey=f3b4644e695146a189cf893ec4e29b7e_1456000940012618415
**Steps To Reproduce**

**Expected Result**
No crash
**Screenshots**

**Device & App version**
 - Device/OS: iphone

[2020-09-29 12:53] DmitryBespalov commented on #510
Not visible to test, please close this

[2020-09-29 12:53] DmitryBespalov commented on #511
Not visible to test, please close this

[2020-09-29 13:04] DmitryBespalov commented on #515
not needed anymore

[2020-09-29 13:04] #515 closed, assigned to nobody

[2020-09-29 13:04] DmitryBespalov commented on #514
not needed anymore

[2020-09-29 13:04] #514 closed, assigned to nobody

[2020-09-29 13:05] DmitryBespalov commented on #529
Duplicate of #593

[2020-09-29 13:05] #529 closed, assigned to nobody

[2020-09-30 08:10] liliya-soroka commented on #504
Verified
app version 2.2.0 - 152
All issues except crashes are marked as minor so the main task can be closed

[2020-09-30 08:10] #504 closed, assigned to MouazAlzahabi

[2020-09-30 08:11] liliya-soroka commented on #516
Verified
app version 2.2.0- 152

[2020-09-30 08:11] #516 closed, assigned to MouazAlzahabi

[2020-09-30 13:44] DmitryBespalov opened #598 "Release 2.3.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.3.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-09-30 15:55] DmitryBespalov commented on #579
Fixed in 2.2.0 (3)

[2020-09-30 15:55] DmitryBespalov commented on #566
Fixed in 2.2.0 (3)

[2020-10-01 10:28] liliya-soroka opened #601 "[iOS]Crash: the app is crashed on app start when 2.1.0 (3) is updated to 2.2.0 (3)"
**Bug description**
the app is crashed on app start when 2.1.0 (3) is updated to 2.2.0 (3)
**Steps To Reproduce**
1st:
1. Install app version 2.1.0 (3)
2. Update 2.1.0(3) to 2.2.0 (3)
2.nd:
1. clean app install
2. add one safe
3. go to the another tabs

**Expected Result**
The app should not be crashed
**Screenshots**

**Device & App version**
 - Device/OS: iPhoneX/iOS13.7.0
 - App version: 2.2.0

[2020-10-01 10:44] liliya-soroka opened #602 "[iOS] Crash after opening signed transaction in push notification"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/5fd1d4997239f7bbd336900d40f4c9ea?time=last-seven-days&sessionEventKey=27cb2b0bc80a4a24abbeb231271eb9d5_1456254950512973852
**Steps To Reproduce**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/f9449506-8350-4c8c-bc0b-2e4966

[2020-10-01 10:48] liliya-soroka opened #603 "[iOS]Crash: AttributeGraph AG::precondition_failure(char const*, ...)"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/a838ad8281929d318b571635b753165a?time=last-seven-days&sessionEventKey=31d9b7f96dc1428fb2c8c4774f7efa8e_1456477025419861874

**Steps To Reproduce**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/d4873711-642c-429b-b341-ca6eb

[2020-10-01 12:57] liliya-soroka opened #604 "[iOS] Hide confirmation block in module tx"
**Bug description**
The confirmation block should be hidden if no confirmation information (module txs)
**Steps To Reproduce**
1. add safe 0x1f8eaD1e6e10e6856d68be2217EDDC71D8b4eC87 on prod mainnet
2. check module tx details
**Expected Result**
The confirmation block should be hidden for module tx
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/07c92a06-7

[2020-10-01 13:14] liliya-soroka opened #605 "[iOS] Decoding v1: no option to collapce/expande for the bytes type and nested array type"
**Bug description**
no option to collapce/expande the data type + nested array type
**Steps To Reproduce**
1. safe = 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544 on prod mainnet
2. open tx with nonce = 561
**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5f4e3aa7f98a800e851a8bfd
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bb

[2020-10-01 15:28] sche commented on #593
does not require testing

[2020-10-01 15:29] sche commented on #591
can be tested like:
- modify with a proxy transaction details response with a wrong safeTxHash
- try to sign
=> an error should be displayed; no request goes to the backend

[2020-10-01 15:30] sche commented on #592
internal task, does not require testing

[2020-10-08 09:16] liliya-soroka commented on #549
The issue is closed for now as tx details opening from the notification is turned off.
The issue will be retested during full regression run for push notification after the
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/553 is fixed

[2020-10-08 09:16] #549 closed, assigned to sche

[2020-10-08 09:17] liliya-soroka commented on #553
When the issue is fixed, the next bugs should be retested:
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/549
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/551
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/527

The full regr

[2020-10-08 09:17] liliya-soroka commented on #551
The issue is closed for now as tx details opening from the notification is turned off.
The issue will be retested during full regression run for push notification after the
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/553 is fixed

[2020-10-08 09:17] #551 closed, assigned to sche

[2020-10-08 09:19] liliya-soroka commented on #527
The issue is closed for now as tx details opening from the notification is turned off.
The issue will be retested during full regression run for push notification after the
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/553 is fixed

[2020-10-08 09:19] #527 closed, assigned to nobody

[2020-10-08 09:23] liliya-soroka commented on #510
closed as no possibility to test

[2020-10-08 09:23] #510 closed, assigned to sche

[2020-10-08 09:24] liliya-soroka commented on #511
closed as no possibility to test

[2020-10-08 09:24] #511 closed, assigned to sche

[2020-10-08 09:28] liliya-soroka commented on #593
closed as testing is not required

[2020-10-08 09:28] #593 closed, assigned to sche, MouazAlzahabi

[2020-10-08 09:29] liliya-soroka commented on #592
closed as testing is not required

[2020-10-08 09:29] #592 closed, assigned to sche, MouazAlzahabi

[2020-10-08 12:15] liliya-soroka commented on #509
Verified
app version  2.3. 0 (155)

[2020-10-08 12:15] #509 closed, assigned to sche

[2020-10-08 15:39] DmitryBespalov opened #611 "Re-implement data reloading logic of app refresh on coming from background and keeping the already loaded data"
With removing of pull to refresh in 2.2.0 we disabled the refreshing of data when coming to foreground and also keeping already loaded data untouched when reload fails.

We need to re-implement it again to satisfy the requrirements.

[2020-10-08 15:40] DmitryBespalov commented on #579
As part of fixing the crashes and removing pull to refresh, I have disabled updating of the app when coming from background.

I created new ticket to enable it again in future release: #611

[2020-10-09 10:25] sche opened #612 "Handle properly case when the Private Key can not be found in the keychain"
- Address of the imported key is cached in DB
- Key is securely stored
- Inconsistency: when the cached address exists but the key is not accessible. What to do?

## Solution

Just store the key and don't store the address, compute address from the key

[2020-10-09 11:02] sche commented on #606
will be replaces by another pr

[2020-10-09 17:55] liliya-soroka commented on #566
The issue still exists:
2.2.0 (5)
prod mainnet
os 13.7
There are some specific steps ( searching for them)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/782d626c-7f6e-4b4a-8961-262e6161716a)

@DmitryBespalov and @tschubotz , there is some situation when the issue still exists, but the priority can be changed to lower as it's not easy to get the error. I am searching fo

[2020-10-09 18:22] liliya-soroka opened #614 "[iOS] Wrong position of the snack bar"
**Bug description**
The snack bar appears in the middle of the page. But after the app restart, the snack bar appears in the correct place.
**Steps To Reproduce**
1. Install the app
2. Add safe
3. Open Receiver popup
4. Copy owner address to clipboard
**Expected Result**
The snack bar should appear above the system tab bar
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29

[2020-10-12 05:25] liliya-soroka opened #615 "[iOS] The edited name is not cleaned if back was used"
**Bug description**
If the user clicks back on the edit safe name page after the name was edited, the edited name is left on the edit name till the settings page is refreshed
**Steps To Reproduce**
1. Go to the safe settings page
2. open edit name
3. update name
4. click back to return on safe settings page
Current result: the old name is displayed as save was not clicked
5. go back to the edit na

[2020-10-12 05:49] liliya-soroka commented on #614
can not reproduce.
I will reassign it back to me for  researching

[2020-10-12 05:54] liliya-soroka opened #616 "[iOS] Prod mainnet: ENS group has "Unknown" name on collectibles page"
**Bug description**
ENS group has "Unknown" name on collectibles page
**Steps To Reproduce**
1. load safe 0x4dEBDD6CEe25b2F931D2FE265D70e1a533B02453
2. open collectibles
**Expected Result**
Ethereum Name Service (ENS) should be used as a group name

**Screenshots**

**Device & App version**
 - Device/OS: iPhone X /13.7
 - App version: 2.2.0 (5)

**Environment**
Prod mainnet
**Additional info**
(Op

[2020-10-12 07:25] liliya-soroka opened #617 "[iOS] Sometimes the page is not updated on safe switch"
**Bug description**
A few times safe settings and collectables list are shown information for the previous active safe instead of the new just selected safe
**Steps To Reproduce**
1. Add a few safes: alice.eth, 0x8675B754342754A30A2AeF474D114d8460bca19b, 0x0Ea08d14F21fDf584B08412E7F82f957422183B4 ( prod, mainnet)
2. Open collectibles list
3. switch safes and check the list for the each of the safe

[2020-10-12 07:31] liliya-soroka opened #618 "[iOS] Collectibles: No collectibles screen is missed"
**Bug description**
The empty screen with Reload is displayed instead of https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5eb9290cfecb467710ea9dac
**Steps To Reproduce**
1. Add safe without collectibles: prod mainnet - 0x72ac1760daF52986421b1552BdCa04707E78950e
2. Open collectibles

**Expected Result**
Use no collectables screen - https://app.zeplin.io/project/5e8f27b9963e55bb79b13634

[2020-10-12 08:36] DmitryBespalov commented on #591
tbd: create a separate build with the pinning disabled

[2020-10-12 11:01] liliya-soroka opened #619 "[iOS] UI changes for the 2.2.0 (5) v after reload option adding"
**Bug description**
There are few  UI inconvinces after the pull to refresh is removed and Reload option is added - https://docs.google.com/document/d/10CmKw7VJKucfSODo1KnsLoCZ-s09K9hlaMA3QP-E8tM/edit?usp=sharing
**Steps To Reproduce**
1. Add safes and go over the app
**Expected Result**
Fix the UI according to comments from Sasha

**Device & App version**
 - Device/OS: iPhone X / 13.7
 - App vers

[2020-10-12 11:54] liliya-soroka opened #620 "[iOS] The tx details has "Awaiting Confirmation" state till the tx details is updated manually"
**Bug description**
To see the latest state of the tx the user has to update tx details manually
**Steps To Reproduce**
1. The user creates tx that requires a few confirmations
2. Open txs list on mobile
3. Open tx details for tx in Queue
4. Confirm but not execute the tx
5. Update txs list manually
6. Open Tx details for the confirmed tx
Current result: "Awaiting confirmation" status is displayed

[2020-10-12 12:10] liliya-soroka commented on #548
No issue in the 2.2.0 (5)

[2020-10-12 12:12] liliya-soroka commented on #579
Verified
no crash and no update after calling from background
app version 2.2.0 (5)

[2020-10-12 12:12] #579 closed, assigned to DmitryBespalov

[2020-10-12 12:17] sche commented on #513
Tracking of user property `num_safes_owner` requires persistent of safes owners.  I will create a separate task for it.

[2020-10-12 12:19] sche opened #621 "Tracking of num_keys_imported user property"
num_keys_imported is an Integer user property that tracks the current number of imported keys.

For v1 of signing feature, it will be 0 or 1. Number is updated on adding/removing key.

When key is added or removed, then update the tracking info

[2020-10-12 12:19] sche commented on #513
In this ticket only screens tracking is implemented

[2020-10-12 13:25] sche opened #623 "[iOS] Parse multisend actions"
Client gateway is decoding information appropriately and response contains enough information for v2 decoding.
Multisend actions are part of the `bytes` param element
[code]
(https://safe-client-rinkeby.staging.gnosisdev.com/v1/transactions/multisig_0x9913B9180C20C6b0F21B6480c84422F6ebc4B808_0xdbd3f8408e6931b94bb16fdb9166372c894e58f1ccf8d41e4420a02a6d480f8f)

### Android/Kotlin
Extend params of ty

[2020-10-12 13:27] sche opened #624 "[iOS] Show list with multisend actions"
https://zpl.io/a8L9K9w
![image.png](https://images.zenhubusercontent.com/5ccabf56658809463cff37ed/90b6a57c-0ad3-4685-a955-2eddcd02f80a)

- Each item displays blockie, address, and action name
- If method is missing in `valueDecoded` element display `Action #<position in the list starting from 1>`
- Toolbar title is `Multisend`
- If item is clicked navigate to page with decoded details
- The screen

[2020-10-12 13:27] sche opened #625 "[iOS] Entry point to multisend action from tx details"
https://zpl.io/25Le43J
![image.png](https://images.zenhubusercontent.com/5ccabf56658809463cff37ed/e15fa2f7-7e3b-4682-85e9-6024812f00bc)

- Display `Multisend (<number of actions> actions)`
- When clicked navigate to multisend actions list
- Number of actions = number of valueDecoded elements

# Notes
Please double check requirements before starting the coding

[2020-10-12 13:28] sche opened #626 "[iOS] Show decoded details for Multisend actions"
1. Toolbar title is same as action name in the multisend list screen
  - Method name if available
  - Action #<position in multisend list starting from 1> if not

2. Show transfer information on top for multisend action items.

https://zpl.io/2jDM05W
![image.png](https://images.zenhubusercontent.com/5ccabf56658809463cff37ed/9f3ce7d7-1743-4758-939a-05bbbc4cb95d)
[code]
For v2 we show only eth trans

[2020-10-12 13:28] sche opened #627 "[iOS] Show Data element with undecoded data in non-multisend Action details"
Show Data element with undecoded data at the top of the screen in the "Action details" screen.
  -  Use `txData.hexData` for the data
  - Show upper divider if transfer element is present
  - Show lower divider if additional decoded parameters are available.

The reason to add this section is that the parameters sometimes are not available because `dataDecoded` is null.

# Notes
Please double chec

[2020-10-12 13:34] liliya-soroka opened #628 "[iOS] Sometimes NFT tokens don't have symbol"
## How to fix
- When NFT symbol not available, show "NFT" string
- When ERC20 symbol not available, show "ERC20" string

**Bug description**
Sometimes NFT tokens don't have symbol . The same issue was on android and was decided to use NFT symbol in such case - https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-android/800
**To Reproduce**
Steps to

[2020-10-12 14:04] liliya-soroka opened #629 "[iOS]The tx details is not loaded on the first time opening for some custom tx as result the tx details is opened without content (13.7)"
**Bug description**
The tx details is not loaded on the first time opening for some custom tx as result the tx details is opened without content (13.7)
The issue is not reproduced on 14 os, but is reproducable on ios <14
**Steps To Reproduce**
1. Load safe 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544 ( prod mainnet)
2. Open tx 597, 591, 595

**Expected Result**
The tx details should be loaded withou

[2020-10-12 15:10] liliya-soroka opened #630 "[iOS] The loading is never stops if the reload was used after internet connection is returned on tx list"
**Bug description**
The loading never stops if the reload was used after internet connection is returned on tx listю To continue the work with the tx list the user has to restart the app ( cold start)
**Steps To Reproduce**
1. Open tx list
2. Turn internet connection off
3. reload the page
4. turn the internet connection on
5. Click reload the tx list
**Expected Result**
The tx list should be relo

[2020-10-12 16:27] liliya-soroka opened #631 "[iOS] Missed tracking in v 2.2.0 (5)"
There is the list of missed tracking data:
1. transactions_details_advanced
2. transaction_details_action
3. notification_open
4. notification_foreground

**Device & App version**
 - Device/OS: iPhone X /13.7
 - App version: 2.2.0 (5)

**Environment**
Prod mainnet
**Additional info**
(Optional)

[2020-10-12 16:35] liliya-soroka commented on #580
Verified
app version 2.2.0 (5)

[2020-10-12 16:35] #580 closed, assigned to DmitryBespalov

[2020-10-12 16:35] liliya-soroka commented on #581
Verified
app version 2.2.0 (5)

[2020-10-12 16:35] #581 closed, assigned to DmitryBespalov

[2020-10-12 16:36] liliya-soroka commented on #582
Verified
app version 2.2.0 (5)

[2020-10-12 16:36] #582 closed, assigned to DmitryBespalov

[2020-10-12 16:37] liliya-soroka commented on #595
Verified
app version 2.2.0 (5)

[2020-10-12 16:37] #595 closed, assigned to DmitryBespalov

[2020-10-12 16:38] liliya-soroka commented on #614
Verified
can not reproduce

[2020-10-13 12:56] DmitryBespalov commented on #555
was this done in the backend? (sorting of balances) @jpalvarezl @Uxio0

[2020-10-13 12:57] DmitryBespalov commented on #556
Duplicate of #616

[2020-10-13 13:05] DmitryBespalov commented on #422
Is this ever going to be implemented? (check with @Uxio and @rmeissner)

[2020-10-13 13:07] DmitryBespalov commented on #480
is this ever going to be fixed? @jpalvarezl @rmeissner

[2020-10-13 13:09] DmitryBespalov commented on #521
Needs QA on English keyboards

[2020-10-13 13:10] rmeissner commented on #422
if I understand correctly this is related to https://github.com/gnosis/safe-transaction-service/issues/123 and should be in staging

[2020-10-13 13:10] DmitryBespalov commented on #601
Please check when 2.3.0 RC is available

[2020-10-13 13:11] DmitryBespalov commented on #603
Please check in 2.3.0

[2020-10-13 13:11] DmitryBespalov commented on #602
Please check in 2.3.0

[2020-10-13 13:14] DmitryBespalov opened #632 "[iOS] Transaction Details Bugs"
Umbrella for the current transaction detail issues

[2020-10-13 13:15] rmeissner commented on #480
As stated above it is related to https://github.com/gnosis/safe-client-gateway/issues/37 and the issue is in "Not Now" so this will not be fixed in upcoming sprints, but with the current cache invalidation setup this should only be for a couple seconds (< 1 min).

[2020-10-13 13:23] DmitryBespalov opened #633 "Use client gateway for submitting transactions"
Instead of safe-transaction service, use client gateway to submit the transaction

## Request
`POST v1/transactions/{safeTxHash}/confirmations`

Body (JSON):
[code]

Response: same as the transaction details request's response

[2020-10-13 13:27] DmitryBespalov opened #634 "[iOS] Implement app navigation in UIKit"
- Tab view
- ~Integrate SwiftUI in the middle~
- Prototype using UIKit for pull to refresh

[2020-10-13 13:55] liliya-soroka commented on #555
Verified
app version 2.2.0 (5)

[2020-10-13 13:55] #555 closed, assigned to nobody

[2020-10-13 13:55] liliya-soroka commented on #601
Verified
no crash on updating from 2.1.0 (3) to 2.2.0 (5)

[2020-10-13 13:55] #601 closed, assigned to nobody

[2020-10-13 14:16] DmitryBespalov commented on #621
~because of open questions for implementation the proposal is to move this to v2 of the feature~
Resolved after refinement

[2020-10-13 16:16] DmitryBespalov commented on #628
https://safe-client-rinkeby.staging.gnosisdev.com/v1/transactions/ethereum_0x1230B3d59858296A31053C1b8562Ecf89A2f888b_0x1c7f031b2ffd6761bf7e56ff2e6334e3d74d5efba2de41b2fc74afdb178ddcdf_0xc8266fa354d264e8

@jpalvarezl can you please chime in to check that response ^^^

[2020-10-14 08:42] jpalvarezl commented on #628
Just like Liliya commented we had this issue reported for Android: https://github.com/gnosis/safe-android/issues/800

This is not a gateway issue. The gateway just reports that this is an `ERC721` token but the transaction service is not returning any `TokenInfo`. The clients should decide how to display default values for when `tokenName`, `tokenSymbol` and `logoUri` are null.

Uxio's comment on

[2020-10-14 08:43] DmitryBespalov commented on #628
@jpalvarezl thank you very much! I was puzzled with this

[2020-10-14 09:12] DmitryBespalov commented on #577
Will be released as part of 2.3.0

[2020-10-14 11:32] liliya-soroka commented on #526
Verified
app version 2.3.0 (161)

[2020-10-14 11:32] #526 closed, assigned to sche

[2020-10-14 11:34] liliya-soroka commented on #577
Verified
app version 2.3.0 (161)

[2020-10-14 11:34] #577 closed, assigned to DmitryBespalov

[2020-10-14 12:09] liliya-soroka commented on #614
The issue is still reproducable in the 2.3.0 - 161

[2020-10-14 12:55] liliya-soroka commented on #566
The issue was not reproduced in 2.3.0 -161

[2020-10-14 13:30] DmitryBespalov commented on #637
@sche can you please bump the app version to 2.4.0?

[code]

[2020-10-14 14:39] MouazAlzahabi commented on #587
- Focus by default is not doable for the current version of SwiftUI
https://stackoverflow.com/questions/56507839/swiftui-how-to-make-textfield-become-first-responder
https://stackoverflow.com/questions/58311022/autofocus-textfield-programmatically-in-swiftui

- Enter Button on keyboard is also not feasible for now

[2020-10-15 08:13] DmitryBespalov opened #639 "Architectural design and detailed design of the navigation"
No visual changes

[2020-10-15 10:37] liliya-soroka commented on #602
Reopened:
Steps:
1. at least 2 confirmations should be required
2. Create tx
3. Open tx details on the mobile app
4. send the app to the background or lock the screen
5. Confirm and execute the tx on web
6. wait till the notification is received on mobile
7. click notification
8. Click reload on tx details page to see if it was executed
Current result: The app is crashed

App version 2.3.0 -161
En

[2020-10-15 11:53] sche commented on #602
@liliya-soroka is it reproducible? It works well on my iPhone X 14.0.1

[2020-10-15 12:02] liliya-soroka commented on #618
Verified
app version 2.3.0 -161

[2020-10-15 12:02] #618 closed, assigned to DmitryBespalov

[2020-10-15 12:47] liliya-soroka commented on #616
Verified
app version 2.3.0 -161

[2020-10-15 12:47] #616 closed, assigned to DmitryBespalov

[2020-10-15 12:48] liliya-soroka commented on #556
Verified
app version 2.3.0 -161

[2020-10-15 12:48] #556 closed, assigned to DmitryBespalov

[2020-10-15 12:51] liliya-soroka commented on #619
Verified
app version 2.3.0 -161

[2020-10-15 12:51] #619 closed, assigned to DmitryBespalov

[2020-10-15 13:56] sche commented on #630
This is a more general issue: reloading stops working if there was an error

[2020-10-15 14:27] liliya-soroka opened #641 "[iOS]The group with unknown ERC721 tokens doesn't have title"
**Bug description**
The group with unknown ERC721 tokens doesn't have a title

**Steps To Reproduce**
1. Prod mainnet
2. add safe 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544
3. open collectables
**Expected Result**
The group with unknown ERC721 tokens should have name "Unknown"  and should be moved to the end of the list
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459

[2020-10-15 14:29] liliya-soroka commented on #617
Verified
app version 2.3.0 (161)

[2020-10-15 14:29] #617 closed, assigned to DmitryBespalov

[2020-10-15 14:51] liliya-soroka commented on #615
Verified
app version 2.3.0 ( 161)

[2020-10-15 14:51] #615 closed, assigned to DmitryBespalov, sche

[2020-10-15 15:29] liliya-soroka commented on #629
Verified
app version 2.3.0 (161)

[2020-10-15 15:29] #629 closed, assigned to DmitryBespalov

[2020-10-16 08:16] liliya-soroka commented on #603
Verified
app version 2.3.0 -161

[2020-10-16 08:16] #603 closed, assigned to nobody

[2020-10-16 09:05] liliya-soroka opened #644 "[iOS] Next link should be disabled when the phrase is not entered on Import Owner Key"
Describe the bug
Next link should be disabled when the phrase is not entered on Import Owner Key

To Reproduce
Steps to reproduce the behavior:
1. Go to the app settings
2. Click on 'Import owner key"

Expected behavior
Next link should be disabled when the phrase is not entered on Import Owner Key

Screenshots
If applicable, add screenshots to help explain your problem.

Smartphone (please comple

[2020-10-16 09:32] liliya-soroka opened #645 "[iOS]Wrong text and title on the Import owner key screen above the enter text"
**Bug description**
Wrong text and title on the Import owner key screen above the enter field. Please, align it with the design
**Steps To Reproduce**
1. Go to the app settings
2. Click Import owner key

**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5f7445e21082d635be424ba9
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bb

[2020-10-16 09:45] liliya-soroka opened #646 "[iOS] When the screen is opened the “Enter seed phrase” isn't focused by default."
Describe the bug
When the screen is opened the “Enter seed phrase” isn't focused by default.

To Reproduce
Steps to reproduce the behavior:
1. Go to the app settings
2. Click Import owner key

Expected behavior
The requirement from the epic: When the screen is opened the “Enter seed phrase” is focused by default.

Screenshots

Smartphone (please complete the following information):

Device: Iphone

[2020-10-16 09:59] liliya-soroka opened #647 "[iOS] No "Enter" button on the keyboard on the import owner key screen"
Describe the bug
Requirement from the epic:
When selecting the “Next” button OR selecting “Enter” button on the keyboard, the form “submission” should happen.
But there is no Enter button on the keyboard

To Reproduce
Steps to reproduce the behavior:
1. Go to the app settings
2. Click on Import owner key
3. Enter seed phrase
4. Try to find the Enter button on the keyboard

Expected behavior
When s

[2020-10-16 10:33] DmitryBespalov opened #648 "Change client gateway URL in configuration"
A typo was fixed for the client services in production http://safe-client-mainnet.gnosis.io/ -> http://safe-client.mainnet.gnosis.io/ and http://safe-client-mainnet.gnosis.io/ -> http://safe-client.mainnet.gnosis.io/ so please update the clients. Old addresses will be still valid for a couple of months

[2020-10-16 11:45] liliya-soroka opened #649 "[iOS]Valid seed phrase is defined as invalid if it contains more then 12 and less than 24 words"
**Bug description**
The valid seed phrase is defined as invalid if it contains more then 12  and less than 24 words

**Steps To Reproduce**
1. Go to the app settings
2. Import owner key
3. use https://iancoleman.io/bip39/#english to generate seed phrase with 15,16,18,21 words
4. enter seed phrase from step 3 and click Next
5. Invalid seed phrase error appears

**Expected Result**
The seed phrase m

[2020-10-16 11:54] liliya-soroka opened #650 "[iOS] Add X on the Enter seed phrase screen"
**Bug description**
Add X on the Enter seed phrase screen
**Steps To Reproduce**
1. Open app settings
2. Click import owner key

**Expected Result**
Add X for closing the enter seed phrase screen
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/0a7187ea-e79a-4bf2-8993-edb7ec7e9869)
**Device & App version**
 - Device/OS:iPhone X / 13.7
 - App version: 2.3.0

[2020-10-16 11:57] rmeissner commented on #649
16 should not be valid, right? afaik it needs to be a multiple of 3 ;)

[2020-10-16 12:06] liliya-soroka commented on #540
Verified
app version 2.3.0 (165)

[2020-10-16 12:06] #540 closed, assigned to sche

[2020-10-16 12:08] tschubotz commented on #521
@liliya-soroka could you please check if this issue exists for English keyboards as well?

If not, could you please close this issue? :)

[2020-10-16 12:34] liliya-soroka opened #651 "[iOS] Enter seed phrase is opened each time when the settings is opened after key was imported"
**Bug description**
Enter seed phrase is opened each time when the settings page is opened after the key was imported till the app is restarted
**Steps To Reproduce**
1. Import key ( don't restart the app)
2. Go to the assets page
3. Come back to the settings
Current result: The enter seed phrase screen is opened
The app starts to work as usual only after the app restrating

**Expected Result**
Th

[2020-10-16 13:05] liliya-soroka opened #652 "[iOS] No success message on owner key removing"
**Bug description**
There is no snack bar with a success message for the owner key removing
**Steps To Reproduce**
1. Import owner key
2. Remove key
3. Confirm removing
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/d1e1b7bb-3861-4fb7-adea-0e7052b5c4cc) - https://docs.google.com/document/d/1QjHnSpxZi8DP-UX-X_SSHKTPzkRJHbQQtuGVzqxc_eM/edit?usp=sharing

[2020-10-16 13:32] liliya-soroka commented on #586
Verified
app version 2.3.0 (165)

[2020-10-16 13:32] #586 closed, assigned to nobody

[2020-10-16 13:38] liliya-soroka commented on #512
Verified
app version 2.3.0 (165)

[2020-10-16 13:38] #512 closed, assigned to sche

[2020-10-19 08:52] DmitryBespalov opened #653 "Upload dSYMs to crashlytics in the CI"
After switching from bitcode to the compiled app we should upload dSYMs as part of the build process. Before it didn't work because of bitcode.

[2020-10-19 12:18] MouazAlzahabi commented on #646
@liliya-soroka
For limitation of the used framework this is not feasible.

[2020-10-19 12:42] MouazAlzahabi commented on #647
@liliya-soroka
This is due to the current framework limitation, we couldn't resolve it

[2020-10-19 12:59] liliya-soroka commented on #646
@DmitryBespalov , maybe it makes sense to add the info about the limitation into the epic comments ?

[2020-10-19 13:04] DmitryBespalov commented on #646
Please do, 👍 @MouazAlzahabi @liliya-soroka

[2020-10-19 13:08] liliya-soroka commented on #628
Verified
app version 2.4.0 (165)

[2020-10-19 13:08] #628 closed, assigned to sche

[2020-10-20 09:53] liliya-soroka commented on #598
Verified

[2020-10-20 09:53] #598 closed, assigned to DmitryBespalov

[2020-10-20 09:57] liliya-soroka commented on #652
Verified
app version 2.4.0 (166)

[2020-10-20 09:57] #652 closed, assigned to MouazAlzahabi

[2020-10-20 09:59] liliya-soroka commented on #646
Closed as won't fix

[2020-10-20 09:59] #646 closed, assigned to nobody

[2020-10-20 10:00] liliya-soroka commented on #647
Closed as won't fix
The epic is updated with comment

[2020-10-20 10:00] #647 closed, assigned to nobody

[2020-10-20 10:31] liliya-soroka commented on #508
Verified
app version 2.4.0 -166

[2020-10-20 10:31] #508 closed, assigned to sche

[2020-10-20 10:31] liliya-soroka commented on #588
Verified
app version 2.4.0 - 166

[2020-10-20 10:31] #588 closed, assigned to MouazAlzahabi

[2020-10-20 10:32] #639 closed, assigned to DmitryBespalov

[2020-10-20 10:32] liliya-soroka commented on #639
closed

[2020-10-20 10:41] liliya-soroka opened #656 "[iOS] The loading on the tx list never stopes if the tx is confirmed by non-owner key"
**Bug description**
As there is no auto update on the tx details and manual reload required the case when the Confirm button is available for the non-owner is possible. In such case the tx details has loading icon that never disappears. The app restart is required to continue work with the tx details page
**Steps To Reproduce**
1. Import owner key
2. Creat tx that requires a few confirmations
3. G

[2020-10-20 11:34] liliya-soroka commented on #590
Reopened:
loading 2.4.0 -167
loading icon never disappears on tx details after the confirm is pressed

[2020-10-20 13:13] DmitryBespalov commented on #653
Looks like the script is already uploading dSYMs to Firebase.
Now waiting for the test crash report to appear in the Firebase console.

[2020-10-20 13:14] DmitryBespalov commented on #633
Waiting for the service to be available on staging

[2020-10-20 13:21] liliya-soroka commented on #587
Verified
app version 2.4.0 -167

[2020-10-20 13:21] #587 closed, assigned to sche, MouazAlzahabi

[2020-10-20 13:34] liliya-soroka commented on #507
Verified
app version 2.4.0 -167

[2020-10-20 13:34] #507 closed, assigned to sche

[2020-10-20 13:37] liliya-soroka commented on #630
Verified
app version 2.4.0 - 168

[2020-10-20 13:37] #630 closed, assigned to nobody

[2020-10-20 13:39] liliya-soroka commented on #645
Verified
app version 2.4.0 - 168

[2020-10-20 13:39] #645 closed, assigned to MouazAlzahabi

[2020-10-20 13:43] DmitryBespalov commented on #648
updated (trransaction requests for production rinkeby and production mainnet will go to new URLs)

[2020-10-20 13:43] liliya-soroka commented on #521
The issue is not reproducable for the English keyboard
The issue is closed
app version 2.4.0 - 168

[2020-10-20 13:43] #521 closed, assigned to nobody

[2020-10-20 13:45] liliya-soroka commented on #648
The full regression will be done to check the moving to the new URL in the release 2.4.0
But it should be retested as soon as the old URLs will be deprecated

[2020-10-21 07:53] liliya-soroka commented on #589
Verified
app version 2.4.0 -168

[2020-10-21 07:53] #589 closed, assigned to nobody

[2020-10-21 08:06] liliya-soroka commented on #590
Creash on the rejection tx confirmation - LoadingTransactionDetailsViewModel.swift line 111
https://console.firebase.google.com/u/2/project/safe-firebase-staging/crashlytics/app/ios:io.gnosis.multisig.staging.rinkeby/issues/740a5f3a8077addd40680892ed47a09b?time=last-seven-days&sessionEventKey=6c265deb82834f6db6ee3a6459faa177_1464425979399234094

app version 2.4.0 -168

[2020-10-21 11:34] tschubotz commented on #644
@liliya-soroka I think the description is missing the "obtained result".

Is the button enabled and still tappable? i.e. the user can tap it and go to the next screen?

Or is this just a UI thing where the button is not disabled, but also not tappable?

[2020-10-21 11:36] tschubotz commented on #651
just marked this one as major since I think it's confusing that the screen pops up again always.

[2020-10-21 11:40] liliya-soroka commented on #644
@tschubotz , yes , the user can tap it and the validation error appears for the seed phrase field

[2020-10-21 11:41] liliya-soroka commented on #651
@DmitryBespalov , please, check the issue.

[2020-10-21 11:41] DmitryBespalov commented on #651
Yes, this should be fixed in the latest build @liliya-soroka

[2020-10-21 11:54] tschubotz commented on #644
ah, but they cannot continue to the next page? I'd say minor then.

[2020-10-22 08:12] liliya-soroka commented on #513
Verified
app version 2.4.0 -169

[2020-10-22 08:12] #513 closed, assigned to nobody

[2020-10-22 14:10] liliya-soroka commented on #651
Verified
app version 2.4.0 (169)

[2020-10-22 14:10] #651 closed, assigned to nobody

[2020-10-22 14:21] liliya-soroka commented on #656
Verified
app version 2.4.0 (169)

[2020-10-22 14:21] #656 closed, assigned to nobody

[2020-10-22 14:27] liliya-soroka commented on #590
Reopened:
the dialog is missed
app version 2.4.0 -169

[2020-10-23 14:10] DmitryBespalov commented on #594
Please check in 2.4.0 (172) - pinning turned on; 2.4.0 (173) - SSL pinning turned off

[2020-10-23 14:10] DmitryBespalov commented on #633
Please check in 2.4.0 (172) - pinning turned on; 2.4.0 (173) - SSL pinning turned off

[2020-10-23 14:10] DmitryBespalov commented on #590
Please check in 2.4.0 (172) - pinning turned on; 2.4.0 (173) - SSL pinning turned off

[2020-10-23 14:14] DmitryBespalov commented on #602
I'd make this as won't fix because it is SwiftUI-related issue.

[2020-10-23 14:18] liliya-soroka commented on #631
Reassigned back to QA to recheck on firebase

[2020-10-23 15:21] #634 closed, assigned to DmitryBespalov

[2020-10-23 15:21] DmitryBespalov commented on #634
The code is merged, but there are no changes to the visible app. Nothing to test except everything should work as usual.

[2020-10-23 19:47] liliya-soroka commented on #548
The issue is closed in the 2.4.0 - 174
After the turning off pull to refresh and auto update the message is displayed on the correct page

[2020-10-23 19:47] #548 closed, assigned to nobody

[2020-10-26 10:35] liliya-soroka commented on #594
Verified
app version 2.4.0 - 174

[2020-10-26 10:35] #594 closed, assigned to DmitryBespalov

[2020-10-26 10:36] liliya-soroka commented on #631
Verified
app version 2.4.0 -174

[2020-10-26 10:36] #631 closed, assigned to MouazAlzahabi

[2020-10-26 11:56] liliya-soroka commented on #591
Verified
app version 2.4.0 -175

[2020-10-26 11:56] #591 closed, assigned to sche

[2020-10-26 12:01] liliya-soroka commented on #653
Verified
app version 2.4.0 -174

[2020-10-26 12:01] #653 closed, assigned to nobody

[2020-10-26 12:45] DmitryBespalov opened #662 "Re-implement iOS UI in UIKit"
Umbrella issue to organize the transition to UIKit

- Start

  - Agree to terms (SwiftUI?)

- ✅ Assets
  - Coin balances
  - Collectible balances

- Safe Info

- Transactions
  - Transaction List Parts
    - Pagination (Load next page / prefetch)
    - Transaction List Cell (by Transaction Type)
- Transaction Details Parts
  - Header (per type)
  - Type and Current Status
  - Confirmation Timeline

[2020-10-26 12:54] DmitryBespalov opened #663 "Modify error messages to a uniform style"
Specification: https://docs.google.com/document/d/1foQ9DSMgO2iN-6u4JsJIDJWB7mUHX-D8ApZWvx6oKAo/edit

[2020-10-26 12:56] liliya-soroka commented on #634
the issue https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/602 should be retested

[2020-10-26 12:56] liliya-soroka commented on #602
Closed , as agreed that it will be fixed after moving to UIkit (https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/634)

[2020-10-26 12:56] #602 closed, assigned to nobody

[2020-10-26 13:11] DmitryBespalov opened #664 "Change app slogan"
- On the launch screen, we currently display "The most trusted platform to **store** digital assets on Ethereum".
- Please change this to "The most trusted platform to **manage** digital assets on Ethereum".

[2020-10-26 13:34] liliya-soroka commented on #575
The issue is not reproducable in the 2.4.0 -174 - closed

[2020-10-26 13:34] #575 closed, assigned to nobody

[2020-10-26 14:06] DmitryBespalov opened #665 "Implement "balances" screen in the UIKit as it is designed"
- Segment controller for switching between balances and collectibles
- Header bar with "safe info" button and "switch safe" button

# What and how to test
- Before installing the test build, make sure that you already have some safes set up
- Install the build on top of the app
- Implemented:
  - Display of the token balances (with total balances and with data from client gateway).
  - Visual desi

[2020-10-26 14:11] DmitryBespalov opened #666 "Show all bytes data as expandable and copyable to clipboard"
![image (1).png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/8d4dd4f5-2843-420d-8fe3-3a3607e00ad9)

![image.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/9766f4eb-b30a-4bb6-9245-289ff1e4b856)

All byte arrays or byte types like bytes32 - they should be collapsible

[2020-10-27 08:43] liliya-soroka commented on #590
Verified
app version 2.4.0 -174

[2020-10-27 08:43] #590 closed, assigned to nobody

[2020-10-27 08:44] liliya-soroka commented on #633
Verified
app version 2.4.0 -174

[2020-10-27 08:44] #633 closed, assigned to nobody

[2020-10-27 14:21] DmitryBespalov opened #667 "Release 2.4.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.4.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-10-27 14:34] DmitryBespalov opened #668 "Release 2.5.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.5.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-10-28 19:27] DmitryBespalov opened #676 "Add client gateway url to the Advanced App Settings"
Add the gateway url to the settings.

[2020-10-28 22:28] daihovey commented on #662
@DmitryBespalov Out of interest, how come you are reimplementing the UI in UIKit?

[2020-10-29 10:26] jpalvarezl opened #677 "[iOS] Balances total at list top"
The client gateway will serve this structure under the `/v1/safes/{safe_address}/balances/{fiat}?{trusted}&{exclude_spam}`

[code]

`trusted` and `exclude_spam` have default values for the apps so they don't need to be changed.

The UI should be like `Option 2` specified here: https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe/360undefined

[2020-10-29 11:55] liliya-soroka commented on #664
Reopened:
change the store for the splash screen on the app start with already added safe

Steps:
1. install the app
2/ accept the t&P
3. add safe
4. close the app
5. launch the app
Current result: Splash screen contains store instead of manage

App version : 2.5.0(177)
env: staging, rinkeby

[2020-10-29 12:49] DmitryBespalov commented on #664
Ok, looks like it's an iOS problem... http://arsenkin.com/launch_screen_image_cache.html

Resolving it now - will be fixed in the next build

[2020-11-01 20:41] DmitryBespalov commented on #662
@daihovey after implementing the UI in SwiftUI, we're facing the following issues:
- Unable to reliably implement certain features without crashes in production:
  - pull to refresh (Apple responded that there's no supported way to implement that in the current system configuration)
  - programmatic navigation
  - combine-based pipelines for view models dealing with networking and UI logic
- Highe

[2020-11-02 01:09] daihovey commented on #662
@DmitryBespalov I worried as much. I've been trying to get a production ready SwiftUI app for a while now and unless it's super generic functionality, SwiftUi falls short. I fear I will have to reconsider using it and move back to UIKit.

[2020-11-02 08:33] liliya-soroka commented on #664
Verified
app version 2.5.0 (179)

[2020-11-02 08:33] #664 closed, assigned to DmitryBespalov

[2020-11-02 10:02] liliya-soroka opened #682 "[iOS] Don't display the top array container"
**Describe the bug**
The first level of decoding nested arrays is  displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the safe 0x673Fd582FED2CD8201d58552B912F0D1DaA37bB2
2. Open the tx with nonce=10
3. check the (testNestedArrayInteger) and (testNestedArrayInteger) multisend actions

**Expected behavior**
Don't display the top array container - ![image.png](https://images.zenhub

[2020-11-02 11:02] DmitryBespalov commented on #682
I can't fix it quickly in SwiftUI because it leads to crashes. I'd propose to double-check it later when UIKit implementation is available.

[2020-11-03 07:56] liliya-soroka commented on #626
Verified
app version 2.5.0( 183)

[2020-11-03 07:56] #626 closed, assigned to DmitryBespalov

[2020-11-03 07:59] liliya-soroka commented on #625
Verified
app version 2.5.0 (183)

[2020-11-03 07:59] #625 closed, assigned to DmitryBespalov

[2020-11-03 08:03] liliya-soroka commented on #627
Verified
app version 2.5.0 (183)

[2020-11-03 08:03] #627 closed, assigned to DmitryBespalov

[2020-11-03 08:46] #623 closed, assigned to DmitryBespalov

[2020-11-03 08:46] liliya-soroka commented on #623
Verified
app version 2.5.0 (183)

[2020-11-03 09:02] liliya-soroka commented on #666
Verified
app version 2.5.0 (183)

[2020-11-03 09:02] #666 closed, assigned to DmitryBespalov

[2020-11-03 09:03] liliya-soroka commented on #624
Verified
app version 2.5.0(183)

[2020-11-03 09:03] #624 closed, assigned to DmitryBespalov

[2020-11-03 11:46] liliya-soroka commented on #676
Verified
app version 2.5.0 (184)

[2020-11-03 11:46] #676 closed, assigned to DmitryBespalov

[2020-11-03 14:31] liliya-soroka commented on #648
May we have the version with turned off pinning for the app that used prod env? Is it safe?
I would like to check the issue with using mitmproxy

[2020-11-04 12:32] sche opened #689 "Collectible details in UIKit"
Showing details of collectibles according to design

Not implemented: showing snackbar after copying address.

[2020-11-04 12:50] sche opened #690 "Add tracking to implemented UIKit screens"

[2020-11-04 13:05] sche opened #692 "Safe settings to UIKit part 1"
- Safe settings / App settings tabs
- No Safe loaded placeholder view
- Request Safe info in async way
- Safe Name Cell with section header
- Change name flow should work

# Not for QA

[2020-11-05 16:16] liliya-soroka opened #693 "[iOS]Wrong ETH amount ( rinkeby, mainnet: staging)"
**Bug description**
The ETH amount is always >999T for the any safe on staging ( rinkeby and mainnet)
**Steps To Reproduce**
1. Go to the app
2. add safe = 0x1230B3d59858296A31053C1b8562Ecf89A2f888b
3. Check ETH amount
**Expected Result**
The correct amount should be displayed
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/4a25f010-635d-49e5-8a35-f77e2c0

[2020-11-06 13:18] sche commented on #693
@liliya-soroka is it the same on Android? It seems like a gateway issue
@jpalvarezl I think "decimals" should be 18 for Ether

[2020-11-06 13:19] liliya-soroka commented on #693
@sche , the correct amount is shown on android : 5.85759

[2020-11-09 06:48] liliya-soroka commented on #665
ETH icon is lost
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/261e8a2f-5829-46d2-961f-323758d1c5bc)

[2020-11-09 07:36] liliya-soroka opened #695 "[iOS] Crash: app is crashed if the snackbar from one page is displayed on another page"
**Bug description**
The app is crashed if the snackbar from one page is displayed on another page and the new page is opened as soon as snackbar disappears - AttributeGraph
AG::precondition_failure(char const*, ...)
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/a838ad8281929d318b571635b753165a?time=last-seven-days&s

[2020-11-09 09:05] #667 closed, assigned to DmitryBespalov

[2020-11-09 09:05] liliya-soroka commented on #667
closed

[2020-11-09 10:47] liliya-soroka commented on #677
Verified
app version 2.5.0 (186)

[2020-11-09 10:47] #677 closed, assigned to DmitryBespalov

[2020-11-09 11:13] liliya-soroka commented on #692
closed as not required qa

[2020-11-09 11:13] #692 closed, assigned to sche

[2020-11-09 11:24] DmitryBespalov opened #697 "Release legacy Rinkeby app"
https://testflight.apple.com/join/r9q5stIb

[2020-11-09 11:24] DmitryBespalov opened #698 "[UIKit] Start screen"
- Agree to terms

- Try this in SwiftUI first and see if it can work

[2020-11-09 11:26] DmitryBespalov opened #699 "[UIKit] Safe Info"
- Show safe address
- Show QR code
- Show ENS name
- Show Safe name
- Appear screen animation
- Disappear screen animation
- Closing of the screen on tap in background

[2020-11-09 11:27] DmitryBespalov opened #700 "[UIKit] App Settings"
- Advanced App Settings
- Get In Touch
- Import key / Remove owner key

[2020-11-09 11:28] DmitryBespalov opened #701 "[UIKit] Safe Settings"
- ✅ Edit Safe Name (cell)
-  [x] Remove Safe (with confirm dialog)
- [x] ENS Name reverse resolved
- [x] - Reusable Address view
- [x] - Reusable Contract version cell

[2020-11-09 11:30] DmitryBespalov opened #702 "[UIKit] Import owner key"
- Integrate this from SwiftUI

- Enter Seed Phrase
- Select Key

[2020-11-09 11:30] DmitryBespalov opened #703 "[UIKit] Add Safe"
- Enter Safe Address
- Enter Safe Name
- Enter ENS Name
- Scan QR Code

[2020-11-09 11:31] DmitryBespalov opened #704 "[UIKit] Snackbar messages"
- Show snackbar

[2020-11-09 12:29] liliya-soroka commented on #621
Verified
app version 2.5.0(186)

[2020-11-09 12:29] #621 closed, assigned to DmitryBespalov

[2020-11-09 13:06] liliya-soroka commented on #648
Verified
app version 2.5.0 (186)

[2020-11-09 13:06] #648 closed, assigned to nobody

[2020-11-09 13:35] liliya-soroka commented on #689
verified on simulator
app version 2.5.0 (186)

[2020-11-09 13:35] #689 closed, assigned to sche

[2020-11-09 14:10] DmitryBespalov opened #705 "[UIKit] Edit Safe Name screen"
Build upon the other "Form" screens.

[2020-11-10 08:47] liliya-soroka commented on #693
Verified
app version 2.5.0 (186)

[2020-11-10 08:47] #693 closed, assigned to DmitryBespalov, sche

[2020-11-10 09:21] DmitryBespalov commented on #665
fix will be in the next build

[2020-11-10 11:21] liliya-soroka opened #707 "[iOS] Crash: AddressImage.swift line 22 ( only 1 user faced the crash one time in the 2.3.0 app v)"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/3e06a5b3e9b3e37528ce577efef74132?time=last-seven-days&sessionEventKey=bfbb170c36e4489f84c5b3c345599c0c_1470003626011886361
**Steps To Reproduce**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/0d8dbdcd-ab54-4805-b4fb-4a9e5c

[2020-11-10 11:25] liliya-soroka opened #708 "[iOS] Crash: LoadableView.swift line 83"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/ef7716bf147dad51523a174a5986276f?time=last-seven-days&sessionEventKey=3151bca6ff2e43f58c326ae742d31716_1470615837179969937
**Steps To Reproduce**
????
**Expected Result**
No crash
**Screenshots**

**Device & App version**
 - Device/OS: iPhone XR and i

[2020-11-10 11:41] liliya-soroka opened #709 "[iOS] Crash: AttributeGraph"
**Bug description**
https://console.firebase.google.com/u/2/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/ed330ad38b993731f66ceaaa961d5dc8?time=1597190400000:1604966399000&sessionEventKey=a0d35251a9f644a89ec8e3cdf3e08472_1466531515412751873
**Steps To Reproduce**
???
**Expected Result**

**Screenshots**

**Device & App version**
 - Device/OS: iPhone X/iph

[2020-11-11 17:48] liliya-soroka commented on #566
Reopened:
The issue was reproduced:
Steps:
1. turn internet connectin off
2. call add safe
3. select enter ENS
4. enter ens name
5. turn the internet connection on
6. reenter the last letter to activate ens name

Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/bdd6c1e0-5f80-4fd3-87e9-4ddd6b4800cf)
Prod, mainnet
app version: 2.5.0(186)

[2020-11-11 18:52] liliya-soroka commented on #605
the issue was fixed during v2 implementation
app version 2.5.0 -186

[2020-11-11 18:52] #605 closed, assigned to nobody

[2020-11-11 18:56] liliya-soroka commented on #532
closed, it was fixed during decoding v2 implementation
app version 2.5.0 (186)

[2020-11-11 18:56] #532 closed, assigned to nobody

[2020-11-13 09:38] tschubotz opened #712 "[iOS] owner_* screen views are missing the "screen_" prefix"
**Bug description**

We decided to prefix all screen view events for tracking with `screen_`. This is because due to SwiftUI on iOS we could not use the native screen tracking functionality of Firebase analytics.
This was documented here: https://github.com/gnosis/safe/wiki/Tracking#screen-view-tracking

The new screen tracking events for the mobile signing feature (`owner_enter_seed`, `owner_sele

[2020-11-16 08:16] liliya-soroka commented on #697
Verified

[2020-11-16 08:16] #697 closed, assigned to DmitryBespalov

[2020-11-16 10:27] #668 closed, assigned to sche

[2020-11-17 10:28] DmitryBespalov opened #716 "Push notifications for signing transactions"
### Changes to the push notification registration

- [x] Generate UUID on the device and store it for push notification requests
- [x] Implement hashing of the registration request
- [x] Add **timestamp** and **signatures** fields to the registration request with the signature of the imported owner key (if present)
- [x] Send registration request after:
  - first safe was added
  - cloud messaging

[2020-11-18 06:52] liliya-soroka commented on #699
Verified
app version 2.6.0 (199)

[2020-11-18 06:52] #699 closed, assigned to DmitryBespalov

[2020-11-18 06:52] #705 closed, assigned to DmitryBespalov, sche

[2020-11-18 06:52] liliya-soroka commented on #705
Verified
app version 2.6.0 (199)

[2020-11-18 06:53] liliya-soroka commented on #702
Reopened:
@sche
1. Next should not be available if no entered key

app version 2.6.0 (199)

[2020-11-18 06:56] liliya-soroka commented on #700
Reopened:
1. app version doesn't contain full information about the build
current result: app version 2.6.0  . (199) is missed

[2020-11-18 07:03] liliya-soroka commented on #665
Reopened:
Description: the selected tab on the pages with a few tabs is remembered. ( coins and collectibles, safe settings and app settings)
Steps to reproduce:
1. Open assets and go to the collectibles
2.Open settings
3. come back to the assetss
Current result: The collectibles list is displayed instead of coins
Expected result: The first tab should be used by default when the page is opened.

a

[2020-11-18 07:07] liliya-soroka commented on #698
Verified
app version 2.6.0 (199)

[2020-11-18 07:07] #698 closed, assigned to DmitryBespalov

[2020-11-18 09:08] DmitryBespalov commented on #665
This is not a bug to me but expected system behavior, previously it was switching to the coins because of technical issue in SwiftUI

[2020-11-18 10:39] tschubotz commented on #665
I think also that it's fine to stay on collectibles since that the page where the user left of on that tab.

[2020-11-19 07:05] liliya-soroka commented on #665
Verified
app version 2.6.0 (204)

[2020-11-19 07:05] #665 closed, assigned to DmitryBespalov, sche

[2020-11-19 07:07] liliya-soroka commented on #650
Verified
Cancel is displayed
app version 2.6.0 (204)

[2020-11-19 07:07] #650 closed, assigned to DmitryBespalov

[2020-11-19 07:39] liliya-soroka commented on #704
Verified
app version 2.6.0 (204)

[2020-11-19 07:39] #704 closed, assigned to DmitryBespalov

[2020-11-19 07:41] liliya-soroka commented on #701
Reopened:
1. No snackbar on the copy owner and mastercopy addresses
2. Advanced safe settings: fallbackhandler,nonce, modules are missed
app version 2.6.0 (204)

[2020-11-19 15:23] #700 closed, assigned to sche

[2020-11-20 12:23] liliya-soroka commented on #702
Verified
app version 2.6.0 (208)

[2020-11-20 12:23] #702 closed, assigned to sche

[2020-11-20 12:28] liliya-soroka commented on #701
Verified
app version 2.6.0 (208)

[2020-11-20 12:28] #701 closed, assigned to sche

[2020-11-20 12:29] liliya-soroka commented on #644
Verified
app version 2.6.0 (208)

[2020-11-20 12:29] #644 closed, assigned to nobody

[2020-11-20 12:35] liliya-soroka commented on #703
Verified
app version 2.6.0 (208)

[2020-11-20 12:35] #703 closed, assigned to DmitryBespalov

[2020-11-23 15:43] liliya-soroka commented on #546
It's still displayed for some of the tokens even if there are no real icon. For example Crypto Kitty
app version 2.6.0 (209)
Prod , mainnet, safe = 0x0Ea08d14F21fDf584B08412E7F82f957422183B4
item = dcl://mch_collection

[2020-11-24 13:48] DmitryBespalov opened #723 "Don't scroll up tx list when coming back from tx details"
**UIKit only.**

When transaction list is not scrolled, and user coming back from the transaction details, then reload the list automatically.

[2020-11-24 13:51] DmitryBespalov opened #724 "Add 2 tracking events for mobile signing"

[2020-11-24 14:05] DmitryBespalov opened #725 "[UIKit] Transaction Details"
Re-implement transaction details

[2020-11-24 14:05] DmitryBespalov opened #726 "[UIKit] Push Notifications"
Opening of the transaction details on push notification tap

[2020-11-24 14:05] DmitryBespalov opened #727 "[UIKit] Tracking"

[2020-11-24 14:05] DmitryBespalov opened #728 "[UIKit] Load Safe Intro screen"

[2020-11-26 14:33] liliya-soroka opened #732 "[iOS] The issues with adding safe to the app ( ios 14.2)"
**Bug description**
There are issues with during the safe loading flow in the app on the device with 14.2 ios version:
1. The user has to scan QR code or past the same address twice as the recognised address is not displayed in the address field ( the field is empty)
2. Sometimes the user stuck on the enter address page with added address, loading icon and disabled Next button
3. Sometimes the use

[2020-11-26 14:36] liliya-soroka opened #733 "[iOS] Crash on the safe removing: ENSNameLoader.swift line 25 (14.2)"
**Bug description**
https://console.firebase.google.com/u/1/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/ba0bcd322b227e69778d0a0238657349?time=last-seven-days&sessionEventKey=e86cfebd850f47c48644ddac2cc237f9_1477878190647546098
**Steps To Reproduce**
1. Load safe flow
2. Scan valid QR code till the next step "Enter name" is available
3. click Next on the

[2020-11-26 15:14] tschubotz commented on #733
I tried with iPhone SE, Prod mainnet, 2.6.0, iOS 14.0.1:

1. Clean app install
2. Click load safe button on main screen
3. Tab "scan qr code"
4. Actually scan QR code (https://etherscan.io/address/0xFB1d445c27A860bb6330453Bf08254198F3E0E31)
-> Address is not filled
5. Scan again (https://etherscan.io/address/0xFB1d445c27A860bb6330453Bf08254198F3E0E31)
-> Address is filled
6. Next
7. enter name
8.

[2020-11-26 15:18] tschubotz commented on #732
I tried with iPhone SE, Prod mainnet, 2.6.0, iOS 14.0.1:

Can only reproduce that the QR code scan needs to be done twice as already explained here: https://github.com/gnosis/safe-ios/issues/733#issuecomment-734352804

[2020-11-26 16:20] liliya-soroka commented on #695
No crash on the device with 14.2 ios version

[2020-11-26 16:30] liliya-soroka commented on #535
2.6.0(209)
still exist:
safe =0x84443F61efc60D10DA9F9a2398980CD5748394BB
prod , mainnet
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/ef5687b4-8788-41d5-b609-f27604cdb3a5)

[2020-12-01 10:12] DmitryBespalov opened #735 "Address Info View"
Reusable view to show address and optional label for that address.

How it looks with the label and without a label:
![Screenshot 2020-12-01 at 11.19.33.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/d9bfad5e-906c-4e56-869e-e634f6a04619)

There is a way to set the address without a label directly
![Screenshot 2020-12-01 at 11.18.12.png](https://images.zenhubusercontent.com/5c36

[2020-12-01 10:13] DmitryBespalov opened #736 "Detail Account Cells"
![Screenshot 2020-12-01 at 11.22.08.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/8bac360d-6a25-4103-8f3d-f5863c28c0cd)

The title is optional. The address can be copied on tap and opened in a browser (AddressInfoView handles that).

![Screenshot 2020-12-01 at 11.22.37.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/dbd82098-3b83-462f-9c9e-0a56fcc51bec)

[2020-12-01 10:13] DmitryBespalov opened #737 "Detail Confirmation Cell"
![Screenshot 2020-12-01 at 11.24.12.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/b9ac068e-da70-45d1-acb7-fd7e864ca9ae)

![Screenshot 2020-12-01 at 11.23.51.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/f28fc209-ab0e-453a-9996-c90200b31da3)

[2020-12-01 10:14] DmitryBespalov opened #738 "Detail Status Cell"
![Screenshot 2020-12-01 at 11.24.57.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/25c40abf-163d-44bc-898d-1acf4544fa73)

![Screenshot 2020-12-01 at 11.25.13.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/c5fb6e59-687f-4f9c-8d09-35da37373489)

[2020-12-01 10:14] DmitryBespalov opened #739 "Detail Outgoing and Incoming Transfer Info Cell"
![Screenshot 2020-12-01 at 11.26.02.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/d456b220-e5b2-4707-9d72-d0d36fcf80e3)

![Screenshot 2020-12-01 at 11.25.49.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/0ae33e80-eeaf-4613-bfc0-419b8ccccd96)

[2020-12-01 10:14] DmitryBespalov opened #740 "Detail Text Cell"
![Screenshot 2020-12-01 at 11.26.37.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/f86e59fa-3045-4a4e-9f11-ca770bc62bd5)

![Screenshot 2020-12-01 at 11.26.52.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/a341202f-bb12-427a-81ae-5d0964a2bf51)

[2020-12-01 10:14] DmitryBespalov opened #741 "Detail Disclosing Cell and External URL Cell"
![Screenshot 2020-12-01 at 11.27.26.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/9336b9ea-6083-47c2-83f7-b853e49665a1)

![Screenshot 2020-12-01 at 11.27.14.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/8fb056fe-ef89-461b-b2c4-dc747df9f444)

[2020-12-01 10:28] DmitryBespalov opened #742 "Transaction Builder and View Controller"
![Screenshot 2020-12-01 at 11.28.14.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/34a7adc0-1dc3-4cf5-b159-f4ff914e876a)

[2020-12-03 10:16] liliya-soroka commented on #716
The task is blocked for QA by back-end task - https://github.com/gnosis/safe-transaction-service/issues/190.

[2020-12-03 12:21] #712 closed, assigned to DmitryBespalov

[2020-12-03 12:21] liliya-soroka commented on #712
Verified
2.6.0  (209)

[2020-12-03 15:55] sche opened #752 "Remove all custom separators from cells - use system separators"

[2020-12-03 16:00] sche opened #753 "Adjust push notifications confirmaion"

[2020-12-04 11:44] sche commented on #755
It is unusual to read such amount of functions :)

I would prefer old-style with separate functions rather than functions inside functions.

As I understand cells selection is not implemented, right? I also notices that now tx details has more data than in SwiftUI
E.g.
<img width="398" alt="Screenshot 2020-12-04 at 12 40 55" src="https://user-images.githubusercontent.com/2284385/101159897-6cff5380

[2020-12-04 12:41] DmitryBespalov commented on #755
ok, will adapt. Actions for transfers should not be shown - will change that

[2020-12-07 11:03] DmitryBespalov commented on #755
I'll merge now and will continue changes in the next PR

[2020-12-07 14:17] MouazAlzahabi opened #758 "Unified tx list: Time formatter for queued & next tx's"
Show time elapsed from tx creation for next & queued tx's.
![68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3563636162663536363538383039343633636666333765642f62633064643439352d306331312d346438322d626333642d623563336437633265663536](https://user-images.githubusercontent.com/58591867/101358303-f5822c00-389a-11eb-8b59-8f8c60b8161f.png)

[2020-12-07 14:28] DmitryBespalov opened #759 "Code cleanup after merging UIKit issues"

[2020-12-07 14:40] MouazAlzahabi opened #761 "Unified tx list: Load data"
- [x] Create new structure for both History&Queued tx endpoint
  - [x] separator header with text label (for next tx and for queued tx's list, for history tx's grouping)
  - [x] item type for conflict header
    - [x] nonce
- [x] Load queued and next tx's using client gw endpoint for queued tx's
- [x] Load history tx's using client gw endpoint for history tx's
- [x] Support pagination
- [x] tx obj

[2020-12-07 14:44] MouazAlzahabi opened #762 "Uniform tx list: new layout + reusable view controller"
layout: https://projects.invisionapp.com/share/W4ZBLJ2SHMB#/screens/436755202

- [x] Add separate tabs for queued and history tx's
- Each tab has it's own pull to refresh, the 'parent' screen does not have pull to refresh.
- [x] Open queued vs history tab: the same way as the settings and assets tabs are working

Loading data is not part of this task.

Make a reusable view controller out of the cu

[2020-12-07 14:45] MouazAlzahabi opened #763 "Unified tx list: queued tab"
- [x] Add new cell types / view holders
  - [x] conflict header
  - [x] conflict tx with next
  - [x] conflict tx without next
  - [x] list header with text (separator)
- [x] Modify tx cell to display time instead of date & time and remove Identicon
- [x] Make the relative time to update automatically as seconds go (explore / prototype it with a time box on the effort)

Please first of all check t

[2020-12-07 14:46] MouazAlzahabi opened #764 "Unified tx list: history tab"
- [x] Use cell types for header for group separators
- [x] Format & display date using device locale for headers
- [ ] Modify tx cell to display time instead of date & time and remove Identicon

[2020-12-07 14:48] DmitryBespalov commented on #682
@liliya-soroka  I would make it won't fix since we're reusing the SwiftUI implementation because it saved us development time. That means fixing this is not going to happen if it's minor.

[2020-12-07 16:23] DmitryBespalov commented on #753
not needed

[2020-12-07 16:23] #753 closed, assigned to sche

[2020-12-07 16:36] DmitryBespalov opened #765 "Release 2.7.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.7.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-12-07 18:52] liliya-soroka commented on #612
@sche , is it possible to simulate?

[2020-12-07 19:04] liliya-soroka opened #766 "[iOS] Total amount format is lost on the balance page"
**Bug description**
A big amount of the Total is not formatted at all.
Please, make sure that the formatting rules are applied to the total on the Balance page
**Steps To Reproduce**
1. Go to the prod mainnet
2. add safe = 0xBc79855178842FDBA0c353494895DEEf509E26bB

Current result: the balance view = 47,562,923,859,976,890.00 USD
**Expected Result**

**Device & App version**
 - Device/OS: Iphone X

[2020-12-07 19:08] liliya-soroka commented on #728
Verified
app version 2.7.0 (227)

[2020-12-07 19:08] #728 closed, assigned to MouazAlzahabi

[2020-12-07 19:23] liliya-soroka opened #767 "[iOS] Tx details: Wrong amount of left confirmation is displayed in confirmation block"
**Bug description**
There total expected confirmation according to policy is displayed instead of left required confirmation on the tx details page in the confirmation block
**Steps To Reproduce**
1. Go to the safe= 0x8675B754342754A30A2AeF474D114d8460bca19b on prod , mainnet ( police = 2 confirmations are required)
2. Check outgoing tx with nonce = 150
3.  There is one confirmation already added

[2020-12-07 19:34] liliya-soroka commented on #732
1. The a few times scanning issue still exists in the 2.7.0 (227)
2. the second issue with the loading icon is also reproducable time to time in the 2.7.0 (227) version ( staging, rinkeby)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/68ba2432-391d-4778-a407-dcc514409114)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/2eee8598-67d7-4a32-9282

[2020-12-07 19:50] liliya-soroka commented on #682
@tschubotz , @posthnikova , if it's ok for you I will close the issue and we will keep it as know but won't fix issue

[2020-12-07 19:58] liliya-soroka commented on #738
Verified
app version 2.7.0 (227)

[2020-12-07 19:58] #738 closed, assigned to MouazAlzahabi

[2020-12-07 19:58] liliya-soroka commented on #735
Verified
app version 2.7.0 (227)

[2020-12-07 19:58] #735 closed, assigned to sche

[2020-12-07 19:59] liliya-soroka commented on #741
Verified
app version 2.7.0 (227)

[2020-12-07 19:59] #741 closed, assigned to DmitryBespalov

[2020-12-07 20:21] liliya-soroka commented on #736
Verified
app vesion 2.7.0 (227)

[2020-12-07 20:21] #736 closed, assigned to sche

[2020-12-07 20:23] liliya-soroka commented on #740
Verified
app version 2.7.0 (227)

[2020-12-07 20:23] #740 closed, assigned to DmitryBespalov

[2020-12-07 20:25] liliya-soroka commented on #739
@DmitryBespalov , the correct view of the tx with NFT is not implemented - https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/545
I am going to approve the current task, as the separate issue for the NFT on the tx details exists
Verfieid
app version 2.7.0 (227)

[2020-12-07 20:25] #739 closed, assigned to DmitryBespalov

[2020-12-07 20:25] liliya-soroka commented on #742
closed as no QA required

[2020-12-07 20:25] #742 closed, assigned to DmitryBespalov

[2020-12-07 20:26] liliya-soroka commented on #737
Reopened , because of the https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/767
app version 2.7.0 (227)

[2020-12-07 20:34] liliya-soroka commented on #604
Verified , the issue was fixed during moving to UIKit
app version 2.7.0(227)

[2020-12-07 20:34] #604 closed, assigned to nobody

[2020-12-07 20:44] liliya-soroka commented on #723
Reopened:
The tx list should be scrolled up and updated on the tab switch

app version 2.7.0 (227)

[2020-12-07 20:46] liliya-soroka commented on #620
Verified
app version 2.7.0(227)

[2020-12-07 20:46] #620 closed, assigned to nobody

[2020-12-07 20:50] liliya-soroka commented on #574
actual in 2.7.0 (227)

[2020-12-08 08:47] tschubotz commented on #682
It's ok for me.

[2020-12-08 08:58] liliya-soroka commented on #727
Reopened:
1. no safe screens are tracked when the safe was added
Steps:
1. I have added the safe from the safe settings page ( import key was added before the safe)
2. Open edit safe name
3. Open Advanced safe settings
Current result: screen_settings_no_safe is tracked
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/51198f4b-1524-43bf-a7c3-41b00ce03870)
4. Open assets
Cu

[2020-12-08 09:10] liliya-soroka commented on #724
Verified
app version 2.7.0 (227)

[2020-12-08 09:10] #724 closed, assigned to MouazAlzahabi

[2020-12-08 09:12] #682 closed, assigned to DmitryBespalov

[2020-12-08 11:17] liliya-soroka commented on #612
closed as no QA required

[2020-12-08 11:17] #612 closed, assigned to sche

[2020-12-08 12:19] liliya-soroka commented on #723
closed
verified, the tx list is not scrolled up and not updated if the tx details are opened

[2020-12-08 12:19] #723 closed, assigned to MouazAlzahabi

[2020-12-08 12:20] DmitryBespalov commented on #690
duplicate

[2020-12-08 12:20] #690 closed, assigned to nobody

[2020-12-08 12:27] DmitryBespalov commented on #390
closing this for now

[2020-12-08 12:27] #390 closed, assigned to nobody

[2020-12-08 12:27] DmitryBespalov commented on #389
closing this for now

[2020-12-08 12:27] #389 closed, assigned to nobody

[2020-12-08 12:29] DmitryBespalov commented on #374
@Andrey I think this one can be closed as it is not relevant anymore

[2020-12-08 12:30] DmitryBespalov commented on #315
This is a SwiftUI system behavior, either we re-implement this in UIKit, or this is won't fix in my opinion

[2020-12-08 12:31] DmitryBespalov commented on #316
This should have been fixed already

[2020-12-08 12:31] sche commented on #374
agree

[2020-12-08 12:31] DmitryBespalov commented on #391
Not relevant, we removed Gnosis Safe from wallet connect support

[2020-12-08 12:31] #391 closed, assigned to nobody

[2020-12-08 12:31] DmitryBespalov commented on #349
Should not happen anymore with UIKit

[2020-12-08 12:33] DmitryBespalov commented on #280
I think this is now out of scope, as such transactions are "multisend" transactions. I would propose to close it.

@tschubotz @liliya-soroka

[2020-12-08 12:36] DmitryBespalov commented on #338
not relevant anymore

[2020-12-08 12:36] #338 closed, assigned to DmitryBespalov

[2020-12-08 12:36] #429 closed, assigned to nobody

[2020-12-08 12:36] DmitryBespalov commented on #429
implemented, ticket not needed anymore

[2020-12-08 12:37] DmitryBespalov commented on #415
not relevant anymore

[2020-12-08 12:37] #415 closed, assigned to nobody

[2020-12-08 12:37] DmitryBespalov commented on #397
Is this needed? Can we close this?

[2020-12-08 12:38] DmitryBespalov commented on #466
@rmeissner does it make sense to research this?

[2020-12-08 12:38] sche commented on #397
agree

[2020-12-08 12:42] rmeissner commented on #466
I would not give it a high priority, as we trust our backend also with more sensible information.

But I would also not be against looking into it, if one of you wants to take this on :) Maybe we should timebox it in that case, would leave that up to you ;)

[2020-12-08 12:42] #374 closed, assigned to nobody

[2020-12-08 12:43] #397 closed, assigned to nobody

[2020-12-08 13:28] DmitryBespalov commented on #737
Maybe this can be closed then because we have that other #767 issue? It'll be fixed asap tomorrow

[2020-12-08 13:32] tschubotz commented on #280
If I understand correctly, this ticket is about updating the contract version from 1.0.0 to 1.1.1 via the web. Under the hood this is a multisend since we don't only change the master copy but we add a fallback handler in this update.

It depends on how we handle these contract updates in the new unified tx list. Will it be a multisend? Or will be display "contract upgrade"?

[2020-12-08 13:47] liliya-soroka opened #769 "[iOS] Transactions tab is renamed to the Multisend if the multisend tx details was opened"
**Bug description**
Transactions tab is renamed to the Multisend if the multisend tx details was opened
**Steps To Reproduce**
1.Open the tx details for the multisend tx( safe = 0x583788f490a278DB2a8d6D7226264b4985f75678)
2. Go to the actions list
3. go to the action details
4. check transactions tab name in the bottom
Current result: the tab is renamed to the Multisend

**Expected Result**
"Trans

[2020-12-08 13:56] liliya-soroka opened #770 "[iOS]Tx list is not update on the tab switching when the tx list is at the top"
**Bug description**
The tx list was not scrolled, but the txs state is not updated on the tab switching. At the same time it's updated if the tx details will be opened.

**Steps To Reproduce**
1. Create tx that required a few confirations
2. Open tx list ( don't scroll it- there is created tx in the Queue in the "awaiting confirmation" state)
3. go to the app settings and import owner key whose co

[2020-12-08 14:11] DmitryBespalov commented on #708
This implementation is not used anymore and we do not expect crash to appear

[2020-12-08 14:59] liliya-soroka opened #771 "[iOS] Tx list is not updated when the tx is confirmed in separate window even when the list was not scrolled"
**Bug description**
 Tx list is not updated when the tx is confirmed in a separate window even when the list was not scrolled
**Steps To Reproduce**
1. Open tx list ( make sure that it was not scrolled)
2. Create the tx that requires confirmation from the owner imported in the mobile app
3. Click confirm tx push notification
4. Confirm tx
5. Close tx details window
Current result: The tx has the s

[2020-12-08 15:48] DmitryBespalov commented on #280
right now it will be multi send, as changing the transaction classification was not part of the unified tx list version that is currently in the works

[2020-12-09 08:12] liliya-soroka commented on #695
Verified
cn not reproduce in 2.7.0 (227) on iPhone x/14.2 and emulator with ios 13.4

[2020-12-09 08:12] #695 closed, assigned to nobody

[2020-12-09 08:15] liliya-soroka commented on #708
closed . The issue will be reopened if the crash appears again in the firebase for version 2.7.0

[2020-12-09 08:15] #708 closed, assigned to nobody

[2020-12-09 09:08] DmitryBespalov commented on #770
This needs further requirements definition to figure out how shall we keep the transaction list synced with the backend.

[2020-12-09 10:03] DmitryBespalov opened #772 "Confusing token amount formatting for small amounts in outgoing transactions"
## Issue
![Screenshot 2020-12-09 at 11.02.46.png](https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/9e664d30-ff41-4755-a7c8-3a9c1b670dd4)

## Solution
From [wiki](https://github.com/gnosis/safe/wiki/How-to-format-amounts):
(Edit September 8) When there is a +/- prefix to the amount (e.g. +0.00001 or -0.00001) and the Eucledian distance of the amount is smaller than 0.00001, then use <

[2020-12-09 10:16] DmitryBespalov commented on #766
<img width=300 src="https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/e107b38a-3fb5-4b90-96be-6fee051fcca0"/>

[2020-12-09 10:22] DmitryBespalov commented on #771
https://gnosisinc.slack.com/archives/CQB729LLF/p1607508127439800

This is descoped from the release

[2020-12-09 10:23] DmitryBespalov commented on #766
https://gnosisinc.slack.com/archives/CQB729LLF/p1607508949441300

This is a conflict in the requirements for balance formatting.

We'll go with this behavior as fiat values are formatted using iOS formatter that does not implement our custom abbreviations.

[2020-12-09 10:27] DmitryBespalov commented on #769
<img width=300 src="https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/84620906-a076-4218-8bc6-b96b66faa360"/>

<img width=300 src="https://images.zenhubusercontent.com/5c361cfa7727940fef83693b/fd3a8e3f-bfeb-4783-9d7f-1a8d216f3b07"/>

Moved the title to the screen body instead of navigation title because this is an iOS bug related to the interoperability between UIKit and SwiftUI librar

[2020-12-09 14:29] liliya-soroka commented on #726
Verified
app version 2.7.0 (229)

[2020-12-09 14:29] #726 closed, assigned to sche

[2020-12-09 15:22] DmitryBespalov commented on #732
@liliya-soroka @tschubotz the issue requires re-implementation of the add safe flow in UIKit. This can't fit in the 2.7.0 release unfortunately.

[2020-12-10 10:47] #766 closed, assigned to DmitryBespalov

[2020-12-10 10:47] liliya-soroka commented on #766
Verified
app version 2.7.0 (229)

[2020-12-10 10:49] liliya-soroka commented on #769
@tschubotz  and @DmitryBespalov , as I understand it's a temporary solution for the v 2.7.0
Are we going to fix it and implement the expected according to design and requirements in the 2.8.0 ?
I would like to either keep the current issue or create the task for ios team to implement it in the correct way

[2020-12-10 10:51] liliya-soroka commented on #733
In the 2.7.0 I am not able to create duplicated safes. If a few duplicated safes were created in the 2.6.0 it can be deleted without the crash in the 2.7.0
app version 2.7.0 (229)

[2020-12-10 10:51] #733 closed, assigned to nobody

[2020-12-10 10:51] liliya-soroka commented on #737
Verified
app version 2.7.0 (229)

[2020-12-10 10:51] #737 closed, assigned to DmitryBespalov

[2020-12-10 10:52] liliya-soroka commented on #725
Verified
app version 2.7.0 (229)

[2020-12-10 10:52] #725 closed, assigned to DmitryBespalov

[2020-12-10 11:03] DmitryBespalov commented on #769
@liliya-soroka 2.8.0 is already planned with other issues and committed to, so I would include it in the 2.9.0

[2020-12-10 11:03] DmitryBespalov commented on #769
I'd be for a new task for it

[2020-12-10 12:00] liliya-soroka opened #779 "[iOS] Tx details is not closed if the safe is switched or removed"
**Bug description**
Tx details is not closed if the safe is switched or removed
**Steps To Reproduce**
1.The tx details or erc721 details is opened
2. I go to another tab and either switch the safe or remove the safe at all
3. I go back to the transactions or assets
Current result: Tx details from the step 1 is displayed but the safe was switch / removed
**Expected Result**
Close tx details if the

[2020-12-10 14:00] DmitryBespalov commented on #781
@MouazAlzahabi can you bump version number to 2.8.0 on this PR?

[2020-12-10 14:01] liliya-soroka opened #782 "[iOS] Confirmation push notification is received when the safe was removed"
**Bug description**
Confirmation push notification is received when the safe was removed
**Steps To Reproduce**
1. add safe and import owner key to confirm txs
2. open tx details for any tx in the safe
3. go to the safe settings and remove safe
4. create a new tx that will require confirmations from the owner

Current result:
The confirmation push notification is received

**Expected Result**
If t

[2020-12-10 14:40] liliya-soroka commented on #614
Can not reproduce in the 2.7.0 (229)

[2020-12-10 14:40] #614 closed, assigned to nobody

[2020-12-10 14:53] liliya-soroka opened #783 "[iOS] Return the page name in the navigation bar ( tx details with actions or multisend tx)"
**Description**
Because of the https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/769 issue with the tab bar, the quick fix was implemented
Steps:
1. Open contract interaction tx
2. go to the actions or action details page
Current result: The navigation bar is empty, the page name is displayed below the navigation bar
Expected result: The navig

[2020-12-10 14:54] liliya-soroka commented on #769
the new issue to return the correct view for the page name in the navigation bar is created  - https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/783

the current issue is closed as fixed
app version 2.7.0 (229)

[2020-12-10 14:54] #769 closed, assigned to DmitryBespalov

[2020-12-10 15:13] liliya-soroka commented on #767
Verified
app version 2.7.0(229)

[2020-12-10 15:13] #767 closed, assigned to DmitryBespalov

[2020-12-10 15:18] liliya-soroka commented on #766
It was agreed to keep formation on android and left ios without formation

[2020-12-10 15:51] liliya-soroka commented on #662
Reopened , because of the 732
app version 2.7.0 (229)

[2020-12-15 12:03] liliya-soroka commented on #716
Verified
app version 2.7.0 (229)

[2020-12-15 12:03] #716 closed, assigned to sche

[2020-12-16 10:05] liliya-soroka opened #787 "[iOS]Crash: <compiler-generated> line 2147483647"
**Bug description**
https://console.firebase.google.com/u/1/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/b351e84478f859565c2f2f974d673d1f?time=last-seven-days&sessionEventKey=6f18296829174cde9e15a2722c6a01b7_1485135971032942665

1 user was affected once

**Steps To Reproduce**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/9e5

[2020-12-16 14:11] DmitryBespalov commented on #709
@liliya-soroka I'd see if it happens in versions 2.7.0 and higher, and re-open again. SwiftUI-related, may happen again, but can't do anything here.

[2020-12-16 14:35] DmitryBespalov commented on #732
will be in build 2.8.0 (231)

[2020-12-16 14:47] tschubotz commented on #524
So in that case, how can new data be loaded? switching tabs? Or does the app need to be closed completely? If an app restart is required, I would say this is`major` if not, then I would mark as `minor`

[2020-12-16 14:49] tschubotz commented on #632
not assigning a label here since this seems to be a collection ticket for other bugs.

[2020-12-16 15:05] DmitryBespalov commented on #787
I have added an additional check in the code to see what is the reason. We need to see how this crash appearing in the next version.

[2020-12-17 09:10] liliya-soroka commented on #765
verified. closed

[2020-12-17 09:10] #765 closed, assigned to DmitryBespalov

[2020-12-21 13:42] liliya-soroka commented on #787
I would like to left the issue in the ready for QA to check it appears in the next released version

[2020-12-21 13:51] liliya-soroka opened #794 "[iOS]Crash: SnackbarViewController.swift line 126"
**Bug description**
https://console.firebase.google.com/u/1/project/safe-firebase-mainnet/crashlytics/app/ios:io.gnosis.multisig.prod.mainnet/issues/7bdd45fde4e23dd7e95f2d3b87d84fc8?time=last-seven-days&sessionEventKey=330c8a2527cb4aefb2c006c126566cb1_1486870222894678958
**Steps To Reproduce**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/5145ceb8-dca6-4fd0-8a16-67ca4e

[2020-12-21 13:57] liliya-soroka commented on #707
closed

[2020-12-21 13:57] #707 closed, assigned to DmitryBespalov

[2020-12-21 13:59] liliya-soroka commented on #709
closed, the issue did not appear in the versions >2.3.0

[2020-12-21 13:59] #709 closed, assigned to DmitryBespalov

[2020-12-21 14:26] DmitryBespalov commented on #794
This will be fixed in 2.8.0

[2020-12-21 17:07] sche opened #796 "[iOS] Parse known addresses info from the backend response"
The discussion is here: https://docs.google.com/document/d/1kY7KQ0x135z4TzUsqjAdQ-7z42oKe7-pY89BfOkHkfE/edit?ts=5ff6ec8e#heading=h.qw8ze87mg9dr

**Backend**: https://github.com/gnosis/safe-client-gateway/issues/198

**Specs**: https://docs.google.com/document/d/1kY7KQ0x135z4TzUsqjAdQ-7z42oKe7-pY89BfOkHkfE/edit?ts=5ff6ec8e#heading=h.oga2j6pdpf45

- Tx list

- Tx details
-- Funds transfer (ETH, ERC2

[2020-12-21 17:19] sche opened #797 "[iOS] Known addresses in transaction details screen"
In the "header" of the token transfer, or contract interaction - we display the known address

### Name resolution logic

- [x] 1. If there exists local safe in the app, then use the **safe name and identicon and ellipsized address**
- [x] 2. Else if backend returns `addressInfo`, display the **logo and name from the info, and ellipsized address**
- [x] 3. Else display **identicon and ellipsized a

[2020-12-21 17:37] sche opened #798 "[iOS] Known addresses in transaction list"
Known addresses can be displayed only for contract interaction case.
For contract interactions, remove the "0 ETH\n96 bytes" for raw data cases

### Name resolution logic
1. If there exists local safe in the app, then use the safe name and identicon
2. Else if backend returns `addressInfo`, display the logo and name from the info
3. Else display the "Contract interaction" with icon

**Zeplin links

[2020-12-21 17:42] sche opened #799 "Transaction details known addresses"
Display known address in transaction details screen
- transfer
- contract interaction

![Screenshot 2020-12-21 at 18.40.58.png](https://images.zenhubusercontent.com/5c62952584111d4401fa50d5/1fbaf890-9b37-4760-96f3-56b6dd63c191)

![Screenshot 2020-12-21 at 18.41.45.png](https://images.zenhubusercontent.com/5c62952584111d4401fa50d5/9e0e72d2-1f04-4f88-a088-73088fda44ca)

[2020-12-21 17:46] sche opened #800 "[iOS] Known Addresses V2: Safe Settings screens"
Known addresses are displayed for:
- Safe owner address
- Imported owner key (on web it comes from address book, on mobile imported owner key has a default name ‘Imported owner key’, and a custom name once “Multiple keys” feature is implemented)
- Safe version
- Fallback handler
- Enabled modules

Zeplin
https://zpl.io/VxZl9v3, https://zpl.io/2pGBD7Q

[2020-12-21 18:31] MouazAlzahabi opened #843 "Release 2.8.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.8.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2020-12-22 07:03] liliya-soroka commented on #732
Verified
app version 2.8.0 (244)

[2020-12-22 07:03] #732 closed, assigned to DmitryBespalov

[2020-12-22 07:17] liliya-soroka opened #803 "[iOS] Load safe: Don't display text on enter safe address when the address is entered"
**Bug description**
According to design the info about not safe should not be displayed on the safe address page if the address is entered
**Steps To Reproduce**
1. Go to the load safe page
2. Past address from clipboard/scan/enter ens

**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d59228c3621ade1db30
**Screenshots**
![image.png](https://images.zenhubuserco

[2020-12-22 07:20] liliya-soroka opened #804 "[iOS] Switch safe list is displayed for some time if add safe was called from the switch safe"
**Bug description**
Switch safe list is displayed for some time if add safe was called from the switch safe. The list is displayed for a few sec and closed automatically
**Steps To Reproduce**
1. Call switch safe
2. add new safe through the switch safe

**Expected Result**
Don't display switch safe list at all

**Device & App version**
 - Device/OS: iPhone X/ 14.2
 - App version: 2.8.0 (244)

**En

[2020-12-22 07:25] liliya-soroka opened #805 "[iOS] Multisig:The app is crashed if the "Learn more" is clicked on Queue for conflicted txs"
**Bug description**
The app is crashed if the "Learn more" is clicked on Queue for conflicted txs - https://console.firebase.google.com/u/1/project/safe-firebase-staging/crashlytics/app/ios:io.gnosis.multisig.staging.rinkeby/issues/19328bf8eaab9655cb84b72a881efe5e?time=last-seven-days&sessionEventKey=d16b778d2fab47728e09c9b46ba25a75_1487420650391082227
**Steps To Reproduce**
1. Create a few groups

[2020-12-22 07:45] liliya-soroka opened #806 "[iOS] Wrong colors on the History page for failed tx and incoming tx"
**Bug description**
Wrong colors on the History page for failed tx and incoming tx.
Failed tx is not greyout
Incoming tx has black amounts instead of green
**Steps To Reproduce**
1. Open history
2. Check the failed tx and incoming txs
**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d6565f8af1fdb44c8f0
**Screenshots**
![image.png](https://images.zenhubusercont

[2020-12-22 09:22] liliya-soroka commented on #727
Verified
app version 2.8.0 (244)

[2020-12-22 09:22] #727 closed, assigned to MouazAlzahabi

[2020-12-22 09:23] #662 closed, assigned to DmitryBespalov

[2020-12-22 09:23] liliya-soroka commented on #662
Verified
app version 2.8.0 (244)

[2020-12-22 13:44] liliya-soroka opened #807 "[iOS] Old view of internet connection error on the Enter ENS name page"
**Bug description**
Old view of internet connection error on the Enter ENS name page
**Steps To Reproduce**
1. Turn the internet connection off
2. Go to the Add safe->enter ENS
3. Enter ENS name
Current result: The message in the old format is displayed
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/4d301686-8151-4f41-96bf-fea2ee948b5a)
**Screenshots

[2020-12-22 13:45] liliya-soroka commented on #663
Found issues:
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/807
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/808
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/809
https://app.zenhub.com/workspaces/safe-multisig---mobile-5c

[2020-12-22 13:48] liliya-soroka opened #808 "[iOS] Wrong safe address instead of no internet connection or 3XX/4XX/5XX errors on add safe address page"
**Bug description**
Wrong safe address message is displayed instead of no internet connection on add safe address page
**Steps To Reproduce**
1. Turn internet connection off or simulate 3xx/4xx/5xx response on requests
2. Go to the add safe
3. scan or past valid safe address
Current result: ![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/edf8e837-d348-403a-89f9-e2b0b48d6

[2020-12-22 14:38] liliya-soroka opened #809 "[iOS] Old error format is used for invalid data in the safe address field"
**Bug description**
Old error format is used for invalid data in the safe address field
**Steps To Reproduce**
1. Go to the add safe
2. past plane text ( not an ethereum address)
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/966e1739-960c-4558-bb39-e111595643c8)
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4b

[2020-12-22 16:02] liliya-soroka commented on #663
Questions related to the ENS name validation in the https://docs.google.com/document/d/1foQ9DSMgO2iN-6u4JsJIDJWB7mUHX-D8ApZWvx6oKAo/edit?usp=sharing should be cleared out before the task is marked as closed

[2020-12-22 16:34] MouazAlzahabi opened #810 "[iOS] Dark Mode"
- Colors and images update
  - SwiftUI-related:
     - Advanced App Settings,
     - Advanced Tx Details,
     - Onboarding (Agree terms),
     - Safe Info pop-up
- Settings "Appearance" screen to switch between the appearances - is it feasible?

[2020-12-23 09:26] DmitryBespalov opened #811 "Issue in decoding the transaction list models with label types"
The label is treated as text, but it should be treated as type identifier and the actual text is provided by the app.

https://github.com/gnosis/safe-client-gateway/wiki/transactions_queued

[2020-12-23 12:55] liliya-soroka opened #812 "[iOS] 1108 error is not used for the wrong ens name with non-supported chars"
**Bug description**
1111 is used if the ens name with non-supported chars is entered
**Steps To Reproduce**
1. Go to the add safe with ENS name
2. enter !@#$%^&*()_) as ENS name
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/5a50cc86-551a-4166-8922-0b1166f23159)
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bb

[2020-12-23 12:59] liliya-soroka opened #813 "[iOS] Wrong error messages in case of invalid ENS name ( diff cases)"
**Bug description**
Wrong error messages in case of invalid ENS name ( diff cases):
Expected result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/24ac78ec-359b-40c7-ba99-3c4f8a5dd155)
Current result:
android app is using 1107 for the not existed ENS name and for the ENS without reverse record ( liltestsafe1.eth)
ios app  is using 1111 in both cases listed above

**Dev

[2020-12-23 14:49] liliya-soroka opened #814 "[iOS] 42200 error is displayed in case of 42201 and 42250"
**Bug description**
42200 error is displayed in the case of 42201 and 42250
**Steps To Reproduce**
1. Simulate the error 42201 and 42250
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/c066e94d-8148-4c33-bc0c-788464b13b56)
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/36a58616-23a5-4f02-b427-45589c3c9149)
*

[2020-12-23 15:27] liliya-soroka opened #815 "[iOS] Time out error instead of (102)SSL connection failed"
**Bug description**
Time out error instead of (102)SSL connection failed
**Steps To Reproduce**
1. Turn on proxy on mobile device
2. run mitmproxy on pc
3. run the app with turned on pining

Current result: The loading is never done
**Expected Result**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/1b9d3300-304c-4486-9dbe-58ed1bc34d4f)

**Device & App version**
 - Devic

[2020-12-23 16:26] liliya-soroka opened #816 "[iOS] Uniform tx list:Wrong name for Queue and Next transaction sections on Queue tab"
**Bug description**
Wrong name for Queue and Next transaction sections on Queue tab:
next instead of NEXT TRANSACTION
Queued instead of QUEUE
**Steps To Reproduce**
1. Go to the Queue tab in the transactions when there are txs in both sections
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/8e82a00b-4429-4c40-a8d9-8128ba26d1b0)
**Expected Result**
![image

[2020-12-23 18:41] liliya-soroka opened #817 "[iOS] Uniform tx list: Concurrent txs ui issue"
**Bug description**
Concurrent txs ui issue:
1. Only header of concurrent tx should have the nonce. There is no need to duplicate it in each concurrent tx according to design
2. Color of the nonce and text in the concurrent tx header should be the same
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/477c5c2b-d914-42f5-8853-0ca81eef9c71)
**Steps To Reprodu

[2021-01-04 09:40] DmitryBespalov commented on #523
Not relevant because the list was re-implemented in UIKit

[2021-01-04 09:40] #523 closed, assigned to nobody

[2021-01-04 09:44] DmitryBespalov commented on #524
@tschubotz This issue was created when we had SwiftUI implementation, now a user can do pull to refresh to reload the list.

The automatic reloading on the internet connection can be done but it needs to be specified as a separate feature as we consciously decided against it when we were deciding on how to load the data last Summer.

[2021-01-04 09:46] DmitryBespalov commented on #641
This needs to be double-checked because it should have been fixed.

[2021-01-04 09:48] DmitryBespalov commented on #422
This should be double-checked

[2021-01-04 09:56] DmitryBespalov commented on #585
This should be fixed with the new uniform tx list, but also because the canceled transactions will not be displayed

[2021-01-04 09:58] DmitryBespalov commented on #535
This should be fixed, but we need to check this issue with new Uniform tx implementation - cc @MouazAlzahabi

[2021-01-04 10:03] DmitryBespalov commented on #583
@tschubotz I think this issue is about the next version of the "keep tx list data in sync with backend/other apps" and needs to be properly approached (discovery, requirements, kickoff)

[2021-01-04 10:06] DmitryBespalov commented on #546
I'll take a look - most probably it is displayed because the icon is SVG but we don't display SVGs.

[2021-01-04 10:07] DmitryBespalov commented on #395
This should be ready

[2021-01-04 10:08] DmitryBespalov commented on #573
We need to check how this should be displayed in the new Uniform tx list (cc @MouazAlzahabi )

[2021-01-04 10:30] DmitryBespalov commented on #818
I think, semantically, that "label" field is actually type identifier and not a string or header, therefore it's like an enum to me. While the approach in this PR works, it feels a bit confusing with what backend is expecting

[2021-01-04 11:16] MouazAlzahabi commented on #573
@DmitryBespalov we don't have this issue anymore, we are aligned with the new design.

[2021-01-04 11:22] MouazAlzahabi commented on #535
@DmitryBespalov
Isn't that the correct behavior that Richard mentioned in comments?
zpl://screen?sid=5eb1234bf944bdb12a3fd89c&pid=5e9efc30726e106958cc43de

[2021-01-04 11:25] MouazAlzahabi commented on #811
@DmitryBespalov @liliya-soroka this is duplicated with [#816](https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/816)

[2021-01-04 12:52] DmitryBespalov commented on #535
Yes, indeed, the "single line, ellipsized" is what has been decided on refinement.

[2021-01-04 15:38] tschubotz commented on #583
@DmitryBespalov what's the implemented behavior currently?

If I recall correctly, after https://github.com/gnosis/safe/issues/354 we implemented that the list would be updated when the user in on top, but not if the user is not on top. Is this correct?

This bug was probably filed before that discussion.

[2021-01-04 15:40] tschubotz commented on #524
I think there is no need to have this automatic reloading to be honest since we consciously decided against it. What do you think?

[2021-01-04 16:02] DmitryBespalov commented on #524
I'm good for dropping it / de-classifying for ecosystem Friday feature

[2021-01-04 16:06] DmitryBespalov commented on #583
Yes, we did that.

In addition, as far as I remember, @liliya-soroka was actively in favor of implementing proper data reloading because it is inconvenient during intense app usage (or testing) to always pull to refresh: refreshing transaction details and refreshing list status are not connected, and we decided to leave this issue open.

What I'm saying is that if we don't have an "enhancement" is

[2021-01-05 15:08] #524 closed, assigned to DmitryBespalov

[2021-01-06 15:05] sche commented on #812
commented in the requirements doc

[2021-01-06 15:08] sche commented on #547
Now it should work fine. Timeout is 30 sec.

[2021-01-06 15:09] sche commented on #566
It should work

[2021-01-07 12:53] sche commented on #812
The error will be "ENS name is invalid". To check on iOS try smth like `gnosis-.eth`

[2021-01-07 13:26] biafra23 opened #833 "[iOS] Recognize Safe contracts implementation v1.2.0"
- [x] Add address (`0x6851d6fdfafd08c0295c392436245e5bc78b0185`) to list of known implementation versions
- [x] Show version 1.2.0 where applicable (do not ask user to upgrade if version is lower than 1.2.0)
  - [x] Creation transaction (never ask user to upgrade)
  - [x] Tx details for changeMasterCopy (never ask user to upgrade)
  - [x] Safe settings (show "Up to date" for either 1.1.1 and 1.2.0

[2021-01-07 13:27] biafra23 opened #834 "[iOS] Ask user to upgrade to version 1.2.0"
As soon as the [WebInterface](https://app.zenhub.com/workspaces/safe-multisig---web-5ce554debb310a35b2f8b6f8/issues/gnosis/safe-react/1383) allows to upgrade the implementation to version 1.2.0 we want to ask the user with a lower version to upgrade.

- [ ] Safe Settings (Show upgrade available if version < 1.2.0)
- [ ] Safe settings (Show "Up to date" for  v1.2.0 )

[2021-01-07 15:15] sche commented on #799
close as duplicate

[2021-01-07 15:15] #799 closed, assigned to nobody

[2021-01-08 13:43] liliya-soroka commented on #816
Verified
app version 2.8.0 (259)

[2021-01-08 13:43] #816 closed, assigned to MouazAlzahabi

[2021-01-08 13:44] liliya-soroka commented on #806
Verified
app version 2.8.9 (259)

[2021-01-08 13:44] #806 closed, assigned to MouazAlzahabi

[2021-01-08 13:45] liliya-soroka commented on #805
Verified
app version 2.8.0 (259)

[2021-01-08 13:45] #805 closed, assigned to MouazAlzahabi

[2021-01-08 13:46] liliya-soroka commented on #578
Verified
app version 2.8.0 (259)

[2021-01-08 13:46] #578 closed, assigned to MouazAlzahabi

[2021-01-08 13:51] liliya-soroka commented on #809
Verified
app version 2.8.0 (259)

[2021-01-08 13:51] #809 closed, assigned to sche

[2021-01-08 13:54] liliya-soroka commented on #812
reopened:
Expected result: Can't use this name: Name contains invalid characters. Please enter a valid ENS name. ( Error 1108)

app version 2.8.0 (259)

[2021-01-08 13:57] liliya-soroka commented on #576
Verified
app version 2.8.0 (259)

[2021-01-08 13:57] #576 closed, assigned to sche

[2021-01-08 13:58] liliya-soroka commented on #807
Verified
app version 2.8.0 (259)

[2021-01-08 13:58] #807 closed, assigned to sche

[2021-01-08 14:32] liliya-soroka commented on #817
Verified
app version 2.8.0 (259)

[2021-01-08 14:32] #817 closed, assigned to MouazAlzahabi

[2021-01-08 14:32] liliya-soroka commented on #573
Verified
app version 2.8.0 (259)

[2021-01-08 14:32] #573 closed, assigned to MouazAlzahabi

[2021-01-08 14:33] liliya-soroka commented on #811
Verified
app version 2.8.0 (259)

[2021-01-08 14:33] #811 closed, assigned to MouazAlzahabi

[2021-01-08 14:42] liliya-soroka commented on #758
waiting for the answer - https://docs.google.com/document/d/1t4_pumT-XO-cva6hBwjm4Am1RjryyVWjflzpuyh_Oh0/edit?disco=AAAAHkJ4X-w

[2021-01-08 14:53] #761 closed, assigned to MouazAlzahabi

[2021-01-08 14:53] liliya-soroka commented on #761
Verified
app version 2.8.0 (259)

[2021-01-08 14:54] liliya-soroka commented on #763
Verified
app version 2.8.0 (259)

[2021-01-08 14:54] #763 closed, assigned to MouazAlzahabi

[2021-01-08 14:55] liliya-soroka commented on #762
Verified
app version 2.8.0 (259)

[2021-01-08 14:55] #762 closed, assigned to MouazAlzahabi

[2021-01-08 14:57] liliya-soroka commented on #764
History tab is showing " Data can not be loaded " time to time - the research are required
The steps are find and should be discussed (14.01.2021)https://docs.google.com/document/d/16qo7lJALh3qmSH7E35pNfikt309uu3JR6HSrewIwzNw/edit#

[2021-01-08 14:59] #574 closed, assigned to DmitryBespalov

[2021-01-08 14:59] liliya-soroka commented on #574
Verified
app version 2.8.0 (259)

[2021-01-08 15:09] liliya-soroka commented on #584
Verified
app version 2.8.0 (259)

[2021-01-08 15:09] #584 closed, assigned to DmitryBespalov

[2021-01-08 15:45] liliya-soroka commented on #525
Verified
app version 2.8.0 (259)

[2021-01-08 15:45] #525 closed, assigned to DmitryBespalov

[2021-01-08 15:46] liliya-soroka commented on #395
Verified
app version 2.8.0 (259)

[2021-01-08 15:46] #395 closed, assigned to nobody

[2021-01-08 15:46] liliya-soroka commented on #550
Verified
app version 2.8.0 (259)

[2021-01-08 15:46] #550 closed, assigned to DmitryBespalov

[2021-01-08 15:47] liliya-soroka commented on #349
Verified
app version 2.8.0 (259)

[2021-01-08 15:47] #349 closed, assigned to DmitryBespalov

[2021-01-08 15:48] liliya-soroka commented on #316
Verified
app version 2.8.0 (259)

[2021-01-08 15:48] #316 closed, assigned to DmitryBespalov

[2021-01-08 15:49] liliya-soroka commented on #585
Verified
app version 2.8.0 (259)

[2021-01-08 15:49] #585 closed, assigned to DmitryBespalov

[2021-01-08 15:51] liliya-soroka commented on #804
Verified
app version 2.8.0 (259)

[2021-01-08 15:51] #804 closed, assigned to DmitryBespalov

[2021-01-08 16:12] liliya-soroka opened #838 "[iOS] Function name is displayed above contract interaction in History list"
Describe the bug
Contract interaction is cut if the function name is too long

To Reproduce
Steps to reproduce the behavior:
1. Add safe 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544 on the mainnet
2. Go to the History and scroll the list down to the tx with 544 nonce
Current result:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/f3c113dd-d2f4-4ae7-880a-df1773d492de)

Expe

[2021-01-11 10:31] elgatovital commented on #843
I think this ticket should be moved to safe_ios repo

[2021-01-11 10:39] liliya-soroka commented on #422
Verified
It was implemented on back-end : outgoibng tx without nonce is displayed in the Safe-from
app version 2.8.0 (262)

[2021-01-11 10:39] #422 closed, assigned to DmitryBespalov

[2021-01-11 10:40] liliya-soroka commented on #663
Verified
app version 2.8.0 (262)

[2021-01-11 10:40] #663 closed, assigned to sche

[2021-01-11 10:41] liliya-soroka commented on #794
closed - the firebase will be check. The issue will be reopened in case it appears again in Firebase
app version 2.8.0 (262)

[2021-01-11 10:41] #794 closed, assigned to nobody

[2021-01-11 11:01] DmitryBespalov commented on #553
@liliya-soroka this issue was old and I think can be closed as we now have the transaction details opening from push notification.

[2021-01-11 11:12] DmitryBespalov commented on #812
the changes are merged now. Please note that the spec text has changed.

[2021-01-11 11:56] DmitryBespalov commented on #782
Backend dependency, as we cannot suppress notifications that we receive.

[2021-01-11 13:45] #803 closed, assigned to DmitryBespalov

[2021-01-11 15:01] DmitryBespalov commented on #535
@liliya-soroka Maybe we should close this issue for when the Uniform tx list v2 will be designed, we'll have it in the requirements?

For now this is not an issue

[2021-01-11 15:03] DmitryBespalov commented on #770
Not a bug - this is expected behavior (per previous refinement)

[2021-01-11 16:00] MouazAlzahabi commented on #545
@liliya-soroka  We applied truncate middle for token id text, as it's how system operates.

[2021-01-11 16:34] liliya-soroka commented on #547
The issue is still exist on ios
Last time it was reproduced on the new iphone 11, app version 2.8.0 (266)
The safe 0x4dEBDD6CEe25b2F931D2FE265D70e1a533B02453 ( mainnet) was loaded on the device the first time
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/31675e86-d61c-4819-80b0-466fa8f372f8)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/7d6

[2021-01-11 16:48] liliya-soroka commented on #520
Verified
app version 2.8.0 (266)

[2021-01-11 16:48] #520 closed, assigned to MouazAlzahabi

[2021-01-11 16:51] liliya-soroka commented on #566
Verified
app version 2.8.0 (266)

[2021-01-11 16:51] #566 closed, assigned to sche

[2021-01-11 16:53] liliya-soroka commented on #813
Verified
app version 2.8.0 (266)

[2021-01-11 16:53] #813 closed, assigned to sche

[2021-01-11 17:05] liliya-soroka commented on #649
Verified
app version 2.8.0 (266)

[2021-01-11 17:05] #649 closed, assigned to sche

[2021-01-11 17:06] liliya-soroka commented on #315
Verified
app version 2.8.0 (266)

[2021-01-11 17:06] #315 closed, assigned to MouazAlzahabi

[2021-01-11 17:24] liliya-soroka commented on #783
Verified
app version 2.8.0 (267)

[2021-01-11 17:24] #783 closed, assigned to DmitryBespalov

[2021-01-11 18:00] liliya-soroka commented on #838
Reopened:
After the start app the History containscontract interactions with ellipsize 'contract interaction'. But if you scroll the history to load next page and come back to the top of history the function namer is ellipsed and the contract interaction is displayed fully
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/be43a74f-56da-47f2-aa18-0d8d369ac9b7)
app version 2

[2021-01-12 10:28] liliya-soroka commented on #572
Verified
app version 2.8.0 (267)

[2021-01-12 10:28] #572 closed, assigned to DmitryBespalov

[2021-01-12 10:50] liliya-soroka commented on #545
Reopened
https://app.zeplin.io/project/5e9efc30726e106958cc43de/screen/5ee8ddc8e175644aa196ad65
NFT icon should be used instead of default icon for -/+ 1 erc721 symbol in the header block
app version 2.8.0 (267)

[2021-01-12 10:52] liliya-soroka commented on #812
Verified
app version 2.8.0 (267)

[2021-01-12 10:52] #812 closed, assigned to DmitryBespalov

[2021-01-12 10:53] liliya-soroka commented on #787
Verified
app version 2.8.0 (267)

[2021-01-12 11:19] liliya-soroka commented on #641
Verified
app version 2.8.0 (267)

[2021-01-12 11:19] #641 closed, assigned to DmitryBespalov

[2021-01-12 11:37] liliya-soroka opened #845 "[iOS] Make backend-dependent screens to reload when internet connection reappears"
## Issue
Transactions lists are not updated after wifi is turned on/off on tab/pages switching , at the result the user sees "no internet connection" error message only once and "Data can not be loaded " is displayed on the lists after internet is back till the pull to refresh is used
**Steps To Reproduce**
1. Go to the Queue or History
2. Turn internet connection off
3. Switch between the tabs
Cu

[2021-01-12 11:43] liliya-soroka commented on #770
To discuss

[2021-01-12 14:24] liliya-soroka commented on #771
Reopened:
The issue is not fixed for the case when push notification is clicked when the Queue page is active right now:
1.Open Queue page]
2. receive push notification about required confirmation
3. follow push notification
4. Confirm tx
5. Close separate window and come back to the Queue
Current result: the status of confirmed tx is not updated
app version 2.8.9 (267)
iphone 11 /14.3
staging, ri

[2021-01-12 14:25] liliya-soroka commented on #535
to be discussed during refinement meeting on 14.01.2021

[2021-01-12 14:27] #779 closed, assigned to DmitryBespalov

[2021-01-12 14:27] liliya-soroka commented on #779
Verified
app version 2.8.9(267)

[2021-01-12 14:34] liliya-soroka commented on #553
Verified
app version 2.8.0 (267)

[2021-01-12 14:34] #553 closed, assigned to DmitryBespalov

[2021-01-12 14:37] liliya-soroka commented on #764
The task is implemented properly
app version 2.8.0 (267)

[2021-01-12 14:37] #764 closed, assigned to MouazAlzahabi

[2021-01-12 14:38] #758 closed, assigned to MouazAlzahabi

[2021-01-12 14:38] liliya-soroka commented on #758
Verified
app version 2.8.0 (267) - the ios app has more extended (weeks, years ago)time formatting

[2021-01-12 15:08] DmitryBespalov commented on #771
@liliya-soroka I see, this happens when the opened screen is closed quickly. Will fix

[2021-01-12 16:30] Uxio0 commented on #782
Should be fixed by https://github.com/gnosis/safe-transaction-service/issues/207

[2021-01-13 11:43] #838 closed, assigned to MouazAlzahabi

[2021-01-13 11:43] liliya-soroka commented on #838
Verified
app version 2.8.0 ( 271)

[2021-01-13 11:45] liliya-soroka commented on #386
Verified
app version 2.8.0 (271)

[2021-01-13 11:45] #386 closed, assigned to DmitryBespalov

[2021-01-13 11:49] liliya-soroka commented on #546
The issue srill exists:
Prod , mainnet, safe = 0x0Ea08d14F21fDf584B08412E7F82f957422183B4
item = dcl://mch_collection
app version 2.8.9 (271)
On android the  default image is not used if it's not possible to display image ( even for svg)

[2021-01-13 12:05] #782 closed, assigned to DmitryBespalov, Uxio0

[2021-01-13 12:05] liliya-soroka commented on #782
Verified
app version 2.8.0 (271)

[2021-01-13 15:07] liliya-soroka commented on #366
Verified
svg is supported if https
app version 2.8.0 (271)

[2021-01-13 15:07] #366 closed, assigned to DmitryBespalov

[2021-01-13 16:07] MouazAlzahabi commented on #759
@liliya-soroka This ticket contains many changes to our codebase. Although it should not affect functionality, double check will be appreciated.

[2021-01-13 17:10] MouazAlzahabi opened #853 "[iOS] Pass current timezone offset to history&queued transactions api"
We need to pass the current timezone offset to history&queued transactions api, for now we need to send it in milliseconds as in Android&Web, later the unit might be changed

[2021-01-14 11:37] liliya-soroka commented on #545
Verified
app version 2.8.0 (275)

[2021-01-14 11:37] #545 closed, assigned to MouazAlzahabi

[2021-01-14 11:43] liliya-soroka commented on #546
Verified
app version 2.8.0 (275)

[2021-01-14 11:43] #546 closed, assigned to DmitryBespalov

[2021-01-14 11:44] liliya-soroka commented on #759
The issues is closed , the full regression will be done for the app before the release

[2021-01-14 11:44] #759 closed, assigned to MouazAlzahabi

[2021-01-14 11:45] liliya-soroka commented on #632
All linked issues were fixed. The task is closed
app version 2.8.0 (275)

[2021-01-14 11:45] #632 closed, assigned to nobody

[2021-01-14 14:29] liliya-soroka commented on #853
Closed, but there is an issue on back-end - https://github.com/gnosis/safe-client-gateway/issues/225 . The time is correct but the date is not correct
It should be retested before the release or at soon as the back-end issue is fixed
app version 2.8.0 (277)

[2021-01-14 14:29] #853 closed, assigned to MouazAlzahabi

[2021-01-14 14:31] liliya-soroka commented on #535
closed as expected behaviour
It should be changed on android
app version 2.8.0 (277)

[2021-01-14 14:31] #535 closed, assigned to MouazAlzahabi

[2021-01-14 15:00] liliya-soroka commented on #770
Moved to backlog for analysing and prepare requirements doc to improve lists updating according to refinment meeting ( 14.01.2021)
https://docs.google.com/document/d/16qo7lJALh3qmSH7E35pNfikt309uu3JR6HSrewIwzNw/edit#heading=h.bcupmsqgo1on

[2021-01-14 15:20] liliya-soroka commented on #770
Verified
app version 2.8.0 (277)

[2021-01-14 15:20] #770 closed, assigned to DmitryBespalov

[2021-01-14 15:47] liliya-soroka opened #855 "[iOS] Add "retry" text and button when next transaction list page cannot be loaded"
## Issue
 “Data can not be loaded” is displayed instead of already loaded data when Next page can not be loaded
**Steps To Reproduce**
1. Go to the History page
2. turn internet connection off
3. scroll the txs list in History to load next page
**Current result** data can not be loaded is displayed instead of already loaded data

## Solution
Design: Zeplin [Web](https://zpl.io/anjNrKA) | [App](zpl

[2021-01-15 13:49] MouazAlzahabi opened #856 "Enable Bitcode"
We need to enable Bitcode again, we disable it previously because it broke exporting a build when we used SwiftUI.

[2021-01-18 10:23] MouazAlzahabi opened #857 "Lower minimum OS supported version"
We have set the minimum supported os version to 13.4 to get ride of some of SwiftUI issues.
With UIKit migration we should be able to lower to 13.0

[2021-01-18 10:25] liliya-soroka commented on #771
Verified
app version 2.8.0 (279)

[2021-01-18 10:25] #771 closed, assigned to DmitryBespalov

[2021-01-18 10:38] liliya-soroka commented on #815
Verified
app version 2.8.0 (277)

[2021-01-18 10:38] #815 closed, assigned to sche

[2021-01-18 10:42] liliya-soroka commented on #814
Verified
app version 2.8.0 (277)

[2021-01-18 10:50] #814 closed, assigned to sche

[2021-01-18 10:57] liliya-soroka commented on #808
Reopened:
1. Simulate back-end error in the response
2. try to add new safe
3. go to the safe address field
Current result: Wrong error is displayed:
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/ed295694-185e-4e17-abb3-06d44b2c9865)
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/237abbf0-1d87-4b7b-a719-bed4929f36a7)

Expected result: Can't

[2021-01-18 11:52] liliya-soroka commented on #547
reopened
1. update the app (staging mainnet) to the latest version
2. try to open the collectible list for the safe 0x4dEBDD6CEe25b2F931D2FE265D70e1a533B02453
Current result: 500 error appears instead of list.
My opinion if the loading is taking some time it's better to show timeout error instead of 500

3. pull to refresh the list after the error
Current resultL The list is loaded without the err

[2021-01-18 12:13] DmitryBespalov commented on #547
Another related issue: https://github.com/gnosis/safe-client-gateway/issues/228

[2021-01-18 13:10] DmitryBespalov opened #858 "[iOS] Settings UI Changes"
- Re-implement the screen in UIKit

- Rename 'Contract version' → 'Safe version' in the Safe settings
- Explain what a fallback handler is. (Link to https://help.gnosis-safe.io/en/articles/4738352-what-is-a-fallback-handler-and-how-does-it-relate-to-the-gnosis-safe)
  - iOS Zeplin [Web](https://zpl.io/aRJXRkp) | [App](zpl://screen?pid=5e8f27b9963e55bb79b13634&sid=5ea96645372030276486bd06)
- Make s

[2021-01-18 15:34] liliya-soroka opened #859 "[iOS] SSL error is displayed for the safe on prod ( add safe and transactions list affected)"
**Bug description**
SSL error is displayed for the safe on prod when the safe is loaded and on the History page loading
**Steps To Reproduce**
1. Go to the prod mainnet
2. add safe 0xD2b3D480Db9Fb08Ea55c349C0299b81892F31544
Current result: SSL error displayed

3. add another safes
4. try to open history for the safe from the step2
Current result: SSL error is displayed before the list is loaded so

[2021-01-18 18:06] biafra23 opened #860 "[iOS] Signing V2: Import key"
### Expected behavior

- Additional interstitial screen explaining what it means to add a secret key
  - Next button leads to current import screen
- Text input fields allow entering secret key a s hex value now
- Description changed (see design)
- If the user enters a pass phrase
  - Only one owner address is shown
  - A button labeled "Show more derived keys"
    - If the user presses that butto

[2021-01-18 18:07] biafra23 opened #861 "[iOS] Signing V2: Discoverability: Safe loaded"
## Implementation
- On the safe loaded screen we show the following **new** screen
  - if the following conditions are met:
    - For app update: No owner key currently installed && for the first safe added
    - For new installs: No owner key was ever installed && for the first safe added
  - <**Name**> is read only. Would you like to import  [an] owner key for this safe to confirm transactions?

[2021-01-18 18:08] biafra23 opened #862 "[iOS] Signing V2: Sign transaction"
## Inform user that execution is not possible on mobile

- Add information for transactions that are ready for execution

## Design

https://zpl.io/2vwp6P7

![image.png](https://images.zenhubusercontent.com/5e97a1c48301b54c5cd938c1/ed16ad63-560d-412a-a98e-84906cb0fe8e)

[2021-01-18 18:09] biafra23 opened #863 "[iOS] Signing V2: Discoverability: Banner"
## Banner
- Display banner above assets
   - if the following conditions are met:
     - For app update: No owner key currently installed && banner has never been dismissed && have a safe loaded
     - For new installs: No owner key was ever installed && banner has never been dismissed && have a safe loaded
  - **Import owner key**  We added signing support to the app! Now you can import your owne

[2021-01-19 08:49] biafra23 opened #864 "[iOS] Onboarding Screen (Signing V2: Import key)"
### Expected behavior

- Additional interstitial screen explaining what it means to add a secret key
  - Next button leads to current import screen

Design:
https://zpl.io/aRlLdwe

![image.png](https://images.zenhubusercontent.com/5e97a1c48301b54c5cd938c1/7d01ef49-4c8f-4390-a22a-97bcc384a862)

[2021-01-19 08:51] biafra23 opened #865 "[iOS] Import Key Input screen (Signing V2: Import key)"
### Expected behavior

- Text input fields allow entering secret key a s hex value now
- Description changed (see design)

## Tracking
(see: https://github.com/gnosis/safe/wiki/Tracking)
- New param for `user_key_imported` event
    - `import_type` (String): `seed` or `key`

Design:

https://zpl.io/Vkd6BM8

![image.png](https://images.zenhubusercontent.com/5e97a1c48301b54c5cd938c1/6ccaf8fa-799d-40

[2021-01-19 08:53] biafra23 opened #866 "[iOS] Confirm private Key (Signing V2: Import key)"
### Expected behavior

- If the user entered a private key
  - Only one owner address  is shown

## Tracking
(see: https://github.com/gnosis/safe/wiki/Tracking)
- New param for `user_key_imported` event
    - `import_type` (String): `seed` or `key`

Design:
https://zpl.io/25X08jj

![image.png](https://images.zenhubusercontent.com/5e97a1c48301b54c5cd938c1/85911572-d6a0-43ed-ab20-eaa5d4fc504b)https:

[2021-01-19 08:55] biafra23 opened #867 "[iOS] Import owner from seed phrase (Signing V2: Import key)"
### Expected behavior

- If the user enters a pass phrase
  - Only one owner address is shown
  - A button labeled "Show more derived keys"
    - If the user presses that button, more addresses are shown

## Tracking
(see: https://github.com/gnosis/safe/wiki/Tracking)
- New param for `user_key_imported` event
    - `import_type` (String): `seed` or `key`

Design:
https://zpl.io/bzKBox4

Default |

[2021-01-20 08:51] liliya-soroka opened #868 "[iOS] Wrong button name when no added safe"
**Bug description**
"Load Safe" is used instead of "Load Safe Multisig" for the add safe button when no loaded safe in the app
**Steps To Reproduce**
1. Install app or remove all safes
2. Check the Load safe button name

**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79b13634/screen/5e8f2d57228c3621ade1dabc
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757

[2021-01-20 09:01] MouazAlzahabi commented on #869
In this PR I have enabled Bitcode + bump version + update pods

[2021-01-20 09:47] tschubotz commented on #859
I tried to reproduce but didn't get the error.
iPhone SE, Safe version 2.8.0 (279), iOS 14.0.1

[2021-01-20 09:48] tschubotz commented on #859
Marking this as `major` in case it's reproducible reliably for Liliya.
If not, I think `minor` would be more applicalble.

[2021-01-20 09:57] liliya-soroka commented on #859
I think that the error appears only if there are some issues with data loading on back-end side. Not a critical for release, working for me without the error today

[2021-01-20 10:45] liliya-soroka opened #870 "[iOS]"Safe" is missed in the name of "safe name" field on safe settings"
**Bug description**
"Safe" is missed in the name of "safe name" field on safe settings
**Steps To Reproduce**
1. Go to the safe settings page
2. check a name of the safe settings field
Current result  "Name" is used as a name of the field
**Expected Result**
"Safe name" should be used as a name of the field
**Screenshots**
![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/

[2021-01-20 12:11] liliya-soroka opened #873 "[iOS] Collectibles details page doesn't have title"
**Bug description**
No title on the collectables details page in the navigation bar
**Steps To Reproduce**
1.  Open safe =0x8675B754342754A30A2AeF474D114d8460bca19b on the prod mainnet
2. go to Collectibles
3. Click any item to see details
Current result: Collectibles details page is opened without the title in the navigation bar
**Expected Result**
https://app.zeplin.io/project/5e8f27b9963e55bb79

[2021-01-21 09:32] DmitryBespalov opened #875 "Add CLA to the repository"
As we value 3rd party contributions (and more have been coming in), please coordinate to add the cla assistent to all of our repos. You can find an example in the safe-react repo: https://github.com/gnosis/safe-react/blob/development/.github/workflows/cla.yml Also make sure not to merge contributions of external devs before this is in place please :wink:

## Where to add
All our iOS-related reposi

[2021-01-21 11:24] biafra23 opened #876 "[iOS] Signing V2: Add "read only" label to safes"
### Expected behavior
Show `read only` label in title next to loaded safe name if the imported owner key is not an owner for this safe or no owner key has been imported

## Design

[iOS (Zeplin)](https://zpl.io/VqNJZzN)

![image.png](https://images.zenhubusercontent.com/5e97a1c48301b54c5cd938c1/64c204b7-89c7-438e-ab49-a373dbf7a893)

[2021-01-21 11:43] sche commented on #808
So we would expect here:
"Can't use this address: Network request failed with an unexpected error. Please try again later or contact Safe support if the issue persists (Error 42200)"

and

"Can't use this address: Server-side error. Please try again later or contact Safe support if the issue persists (Error 500)"
right?

I think this is confusing. I would not put here "Can't use this address". Rig

[2021-01-21 13:33] DmitryBespalov commented on #877
@sche is this the final iteration fo this screen or more work needed on UI?
- The "Next" button is always enabled, but it should enable only when the input is valid
- The error is not showing at all
- On iPod touch the text view is covered by the keyboard and not visible at all
- Please enable the keyboard opening on the screen open automatically (`textView.becomeFirstResponder()`)

<img src="http

[2021-01-21 13:59] DmitryBespalov commented on #878
- I've got a push notification request - I think we should delay it until this flow is finished completely (skip / import key)
- screen title is missing
- please double-check the fonts - they look different from designs
- the address label is not centered
- spacing to the skip button is too big
- skip button font should not be bold
- Maybe it's a good idea to hide the tab bar when entering "load s

[2021-01-21 14:12] DmitryBespalov commented on #808
right?

Right, this is what I would expect. We're showing activity indicator and making a network request, so I think it is a reasonable error.

[2021-01-21 18:28] liliya-soroka commented on #539
closed as no QA required

[2021-01-21 18:28] #539 closed, assigned to MouazAlzahabi

[2021-01-21 18:29] liliya-soroka commented on #856
closed as no QA required

[2021-01-21 18:29] #856 closed, assigned to MouazAlzahabi

[2021-01-22 10:30] sche commented on #877
@DmitryBespalov strange, I will take a look regarding not showing error and enables Next button. It worked fine for me.
I will enable keyboard automatically

[2021-01-22 13:40] sche commented on #877
@DmitryBespalov I checked - it works fine for me in iPod touch. No issues with next button and displaying errors.
I decided not to use textView.becomeFirstResponder() as then user needs to scroll to read the text.

[2021-01-22 14:28] MouazAlzahabi opened #882 "[iOS] Rebuild idn2"
We need to rebuild idn2 library as described here

https://github.com/gnosis/pod-idn2

[2021-01-22 14:29] DmitryBespalov commented on #877
@posthnikova is the keyboard should be enabled automatically when opening the seed phrase screen?

[2021-01-22 14:40] posthnikova commented on #877
@DmitryBespalov Yes, that would be nice

[2021-01-25 10:52] #843 closed, assigned to MouazAlzahabi

[2021-01-25 14:19] liliya-soroka opened #884 "[iOS]Crash: AddressView.swift line 2147483647"
**Bug description**
AddressView.swift line 2147483647
**Steps To Reproduce**
searching for steps

**Expected Result**
No crash
**Screenshots**

**Device & App version**
 - Device/OS: iPhone 11/14.3
 - App version: 2.7.0

**Environment**
prod mainnet
**Additional info**
No sure if the issue is still actual
Seems that it may be because of Swift UI

[2021-01-25 15:46] MouazAlzahabi commented on #878
@DmitryBespalov
Regarding push notification request, I think it's better to keep it like this as at this point safe will be already created and it should be registered for PN, and this screen is part of importing key feature not creating safe, if you don't agree let's create this in another ticket because I think this needs to be tested more

[2021-01-26 10:14] #833 closed, assigned to MouazAlzahabi

[2021-01-26 10:14] liliya-soroka commented on #833
Verified
app version 2.8.0 -1920

[2021-01-26 12:02] liliya-soroka commented on #873
Verified
app version 2.9.0 (286)

[2021-01-26 12:02] #873 closed, assigned to MouazAlzahabi

[2021-01-26 12:03] liliya-soroka commented on #870
Verified
app version 2.9.0 (286)

[2021-01-26 12:03] #870 closed, assigned to MouazAlzahabi

[2021-01-26 12:03] liliya-soroka commented on #868
Verified
app version 2.9.0 (286)

[2021-01-26 12:03] #868 closed, assigned to MouazAlzahabi

[2021-01-26 12:13] liliya-soroka commented on #862
Verified
app version 2.9.0 (286)

[2021-01-26 12:13] #862 closed, assigned to MouazAlzahabi

[2021-01-26 12:28] liliya-soroka commented on #864
Verified
app version 2.9.0 (286)

[2021-01-26 12:28] #864 closed, assigned to MouazAlzahabi

[2021-01-26 14:06] MouazAlzahabi commented on #861
@liliya-soroka

With this can you please test upgrade from previous version (2.8.0) I can't access testflight to try

[2021-01-27 11:24] liliya-soroka commented on #859
Verified
timeout error appears instead of SSL in case if the content loading take some time
Checked on prod

[2021-01-27 11:24] #859 closed, assigned to DmitryBespalov

[2021-01-27 11:36] liliya-soroka opened #893 "[iOS]Import owner key doesn't work for the first added safe"
**Bug description**
Nothing happens if Import owner key is clicked for the first added safe after clean app install
**Steps To Reproduce**
1. Uninstall app
2. Install the lates version
3. Accept T&C and load safe
4. Use valid ens name "liltestsafe.eth" to add safe
5. Enter safe name and go to onboarding screen
6. Click "Import owner key"
Current result: Nothing happens

**Expected Result**
The fir

[2021-01-27 11:37] liliya-soroka commented on #861
Found issues:
Reopened because of these issues
1. https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/893
2.  https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/894 - this issue happens for any  new safe load after the onboarding screen was either skiped or dismissed with Import owner  - crit

[2021-01-27 11:53] liliya-soroka opened #894 "[iOS] Possible to add the same safe many time"
**Bug description**
The user stucks on the Enter safe name page and after pressing Next many time the same safe is added multiple times
**Steps To Reproduce**
1. Add the first safe and skip import owner key flow
2. try to add the second safe ( I used ens name tttk.eth)
3. Click Next on the enter safe name
Current result: Nothing happens

4. Click Next many times and swipe the page down to close it

[2021-01-27 15:00] sche commented on #884
Did you manage to reproduce this crash @liliya-soroka ?

[2021-01-27 16:17] liliya-soroka opened #896 "[iOS] Banner is displayed after owner key importing"
**Bug description**
Banner is displayed after owner key importing
**Steps To Reproduce**
1.  Install the app with the latest version
2. Add safe without owner key importing ( select skip import owner key  )
3. check balance page for the banner
4. go to the app settings and import owner key
5. Come back to the balance
Current result: The owner key is imported but the banner is still displayed to th

[2021-01-27 16:54] liliya-soroka opened #897 "[iOS]Import owner key screen is displayed after the owner key is deleted ( 1 case)"
**Bug description**
Import owner key screen is displayed after the owner key is deleted ( 1 case) if the app was reinstalled and the previously imported owner key was kept in a keychain

**Steps To Reproduce**
1. Import owner key in the app
2. Uninstall app
3. Install app again
4. Add safe and check app settings
Current result: The owner is imported automatically from keychain and  the user is not

[2021-01-28 05:24] sche opened #898 "Release 2.9.0"
- [x] Create a release task in GitHub using the “New Release” template.
- [x] Create and push the release branch
[code]
- [x] Marketing version is updated (2.9.0)
[code]
- [x] Notify QA
- [x] QA approved release candidate build
- [x] Product Owner approved submission

**AFTER PRODUCT OWNER APPROVAL**

- [x] Submit to the App Store Review with developer approval for distribution
- [x] Notify the te

[2021-01-28 12:15] sche commented on #896
@liliya-soroka should be fixed in 291. Could you verify it?

[2021-01-28 12:16] sche commented on #897
@liliya-soroka could you verify it on 291 build?

[2021-01-28 15:10] liliya-soroka commented on #860
Reopened:
update the text on the 1st screen with Enter seed phrase or private key field according to the latest design, please?
app version 2.9.0 (292)

[2021-01-28 15:22] liliya-soroka commented on #866
Verified
Tracking will be tested separately after the app installation locally

app version 2.9.0 (292)

[2021-01-28 15:22] #866 closed, assigned to sche

[2021-01-28 15:24] liliya-soroka commented on #865
reopened:
the text should be updated according to design

app version 2.9.0m (292)

[2021-01-28 15:25] liliya-soroka commented on #867
Verified
tracking will be tested separately as soon as the apps are installed locally

app version 2.9.0 (292)

[2021-01-28 15:25] #867 closed, assigned to DmitryBespalov

[2021-01-28 15:28] liliya-soroka commented on #896
Verified
app version 2.9.0 (292)

[2021-01-28 15:28] #896 closed, assigned to sche

[2021-01-28 15:35] liliya-soroka commented on #897
Reopened:
The issue still exist
Current result: The "import owner key" onboarding is displayed during the second safe loading. But at the same time in the usual case, the onboarding screen is not displayed if the owner key was removed

app version 2.9.0 (292)

@tschubotz  and @posthnikova ,could provide your opinion if the issue is really should be fixed.
Is it critical that the "Import owner key"

[2021-01-28 15:50] liliya-soroka commented on #863
Verified
app version 2.9.0 (292)

All tracking will be tested together after the app is intalled locally

[2021-01-28 15:50] #863 closed, assigned to DmitryBespalov, sche

[2021-01-28 15:50] liliya-soroka commented on #893
Verified
app version 2.9.0 (292)

[2021-01-28 15:50] #893 closed, assigned to sche

[2021-01-28 15:51] liliya-soroka commented on #894
Verified
app version 2.9.0 (292)

[2021-01-28 15:51] #894 closed, assigned to MouazAlzahabi

[2021-01-28 15:55] liliya-soroka commented on #861
Reopened:
Please, update the text on the page: the name of the safe should be used in the text instead of " My Company founds"

Current result: ![image.png](https://images.zenhubusercontent.com/5ed757c29459bb36bacd4bba/6d701f01-eb58-4589-b71c-27c258817224)
app version 2.9.0 (292)

[2021-01-28 16:00] liliya-soroka commented on #611
Verified
app version 2.9.0 (292)

[2021-01-28 16:00] #611 closed, assigned to DmitryBespalov

[2021-01-28 17:15] MouazAlzahabi commented on #860
@liliya-soroka done

[2021-01-29 09:54] tschubotz commented on #897
I don't really understand the question. Could you please rephrase?

What is the "usual case" here?

What does "during the loading next after key deleting safe" mean?

[2021-01-29 12:39] liliya-soroka commented on #860
waiting for new 2.9.0 rc

[2021-01-29 15:34] posthnikova commented on #897
The 'usual case' is this behaviour:
- You load the first Safe and are offered to import an owner key.
- Import an owner key.
- Remove an owner key.
- When you load the next Safe, you are not offered to import an owner. This offer is only shown once.

The bug is that after reinstalling the app and removing an owner this offer is shown. I don't think it's critical.

[2021-01-29 17:37] MouazAlzahabi opened #902 "[iOS] Update pods"
We need to upgrade pods for the most recent versions, many Firebase (last version released 7.5.0 - January 27, 2021)

[2021-02-01 07:47] elgatovital opened #903 "Tx details: Add name label to address in confirmed step if it's an owner on device"
- [ ] Check if signer is an owner
- If yes: show `Imported owner key` name
![image.png](https://images.zenhubusercontent.com/5ccabf56658809463cff37ed/1a393ba4-d66c-4f61-8925-83ea0b9e2366)

[2021-02-01 07:54] elgatovital opened #904 "Add rate the app item to app settings"
- [x] Add `Rate the app` menu item to app settings
![image.png](https://images.zenhubusercontent.com/5ccabf56658809463cff37ed/0ee58513-8697-412b-98f8-69859ab26fda)

  - [https://zpl.io/2jA1J4W]( https://zpl.io/2jA1J4W)
  - [zpl://screen?pid=5e8f27b9963e55bb79b13634&sid=600969288f9503a2c54c0a02](zpl://screen?pid=5e8f27b9963e55bb79b13634&sid=600969288f9503a2c54c0a02)

- [x] Navigate to AppStore, whe

[2021-02-01 08:02] elgatovital opened #905 "Show app review dialog on app start"
- [x] trigger in-app review dialog on 3rd app start (for the first time)
don't count app starts triggered by a push notification
- [x] after the dialog is triggered for the first time use the same logic as before for subsequent in-app reviews (to handle cases when the user canceled the flow). This means count to 3 again, not including starts from push notifications

[2021-02-01 08:39] sche commented on #865
please check on 294

[2021-02-01 08:41] sche commented on #861
Please check on 294

[2021-02-01 09:07] tschubotz commented on #897
Thanks for clarifying! I also don't think it's critical. Technically there is not key, so doesn't hurt to show the banner once.

[2021-02-01 09:09] sche commented on #876
decided to implement together/after multiple owners epic

[2021-02-01 09:44] liliya-soroka commented on #860
Verified
app version 2.9.0 (294)

[2021-02-01 09:44] #860 closed, assigned to sche

[2021-02-01 09:44] liliya-soroka commented on #865
Verified
app version 2.9.0 (294)

[2021-02-01 09:44] #865 closed, assigned to sche

[2021-02-01 09:45] liliya-soroka commented on #861
Verified
app version 2.9.0 (294)

[2021-02-01 09:45] #861 closed, assigned to MouazAlzahabi

[2021-02-01 09:46] DmitryBespalov commented on #905
There is no way to check that user left a review.

The app does not have control over the dialog showing, it only can request it from the iOS at certain points in the app flow and hope that the OS will show the dialog. The showing of the dialog is subject to iOS policies.

If app needs to open the review from a menu, it should navigate to the App Store app's review screen.

[2021-02-01 09:50] elgatovital commented on #905
Would it be reasonable to invoke in-app review ui on each app start and let iOS policies do the rest?

there is already a ticket for that: https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-ios/904

[2021-02-01 09:53] DmitryBespalov commented on #905
@elgatovital we can invoke the review, and per the policies:

https://developer.apple.com/design/human-interface-guidelines/ios/system-capabilities/ratings-and-reviews/

Other guidelines:
- Try to make the request at a time that will not interrupt what the user is trying to achieve in your app. For example, at the end of a sequence of events that the user has successfully completed.
- Avoid showin

[2021-02-01 09:56] elgatovital commented on #905
Then I propose this for iOS
- trigger in-app review dialog on 3rd app start (for the first time)
don't count app starts triggered by a push notification
- after dialog is triggered for the first time use same logic as before for subsequent in-app reviews (to handle cases when user canceled the flow). This means count to 3 again, not including starts from push notifications
@DmitryBespalov

[2021-02-01 10:02] DmitryBespalov commented on #905
@elgatovital I'm OK with that

[2021-02-01 10:04] elgatovital commented on #905
description updated

[2021-02-01 10:25] liliya-soroka commented on #808
Verified
app version 2.9.0 (295)

[2021-02-01 10:25] #808 closed, assigned to sche

[2021-02-04 16:57] liliya-soroka opened #912 "[iOS] No tracking for some events related to signing v2"
**Bug description**
There are no tracking of the next expected data:
1. user_banner_owner_skip Triggered when clicking the x on the banner to ask users to import their owner key.
 user_banner_owner_import Triggered when clicking the Import on the banner to ask users to import their owner key.

2. screen_owner_info  - onboarding screen for Import owner key flow

3. (see: https://github.com/gnosis/s

[2021-02-05 08:03] tschubotz commented on #912
Marking this as `major` since also Android doesn't have the `user_key_imported` tracking and without it, we can't tell if now more users import an account due to the private key option.

[2021-02-08 11:22] DmitryBespalov opened #914 "Make the error ID to be concatenated from HTTP status code and error code values"
Currently, the errorID for such errors as 42201 or 42250 are constructed from integers like this:

[code]

This won't work for error codes greater than 99 because it will change the status code. Instead, the code should be concatenated, as a string

[code]

This way, the errorID will preserve the status code and the backend error code.

Reference: https://docs.google.com/document/d/1foQ9DSMgO2iN-6

[2021-02-08 12:13] sche opened #915 "Refactor CoreData to work with different threads"
Right now if we try to work with CoreData on a background thread the app crashes because we use one context from different threads.
We need to refactor the way we work with CoreData.

[2021-02-08 13:44] DmitryBespalov commented on #913
recheckcla

[2021-02-08 13:46] DmitryBespalov commented on #913
recheckcla

[2021-02-08 15:36] sche opened #916 "[iOS] A lot of layout issues in debug console"
We need to fix layout issues

[2021-02-09 09:09] DmitryBespalov commented on #875
Added to safe-ios and to SwiftCryptoTokenFormatter.

Others are forks

[2021-02-09 16:40] liliya-soroka commented on #858
Verified
app version 2.9.0 (302)

[2021-02-09 16:40] #858 closed, assigned to MouazAlzahabi

[2021-02-09 16:40] liliya-soroka commented on #875
closed as no QA required

[2021-02-09 16:40] #875 closed, assigned to DmitryBespalov

[2021-02-09 16:43] liliya-soroka commented on #855
Verified
app version 2.9.0 (302)

[2021-02-09 16:43] #855 closed, assigned to DmitryBespalov

[2021-02-09 17:06] liliya-soroka commented on #904
Verified
app version 2.9.0 - (302)

[2021-02-09 17:06] #904 closed, assigned to DmitryBespalov

[2021-02-10 15:59] liliya-soroka commented on #905
check comment in https://app.zenhub.com/workspaces/safe-multisig---mobile-5c1b98250e13551e8aae81eb/issues/gnosis/safe-android/1206